/* line 4, select.less */
.ct-select {
  position: relative;
  z-index: 9;
}
/* line 8, select.less */
.ct-select .select-name {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  cursor: pointer;
}
/* line 17, select.less */
.ct-select .select-name i {
  vertical-align: middle;
  margin-left: 10px;
}
/* line 23, select.less */
.ct-select .select-list {
  position: absolute;
  top: 34px;
  left: 0;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  min-width: 120px;
  border-top: 2px solid #20b11d;
  cursor: default;
  display: none;
}
/* line 35, select.less */
.ct-select .select-list li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #d5d9df;
}
/* line 40, select.less */
.ct-select .select-list li a {
  color: #757575;
  display: block;
  text-indent: 10px;
}
/* line 47, select.less */
.ct-select .select-list li.selected {
  background-color: #20b11d;
}
/* line 50, select.less */
.ct-select .select-list li.selected a {
  color: #fff;
}
/* line 55, select.less */
.ct-select .select-list li:hover {
  background-color: #A3E9A4;
}
/* line 58, select.less */
.ct-select .select-list li:hover a {
  color: #757575;
}
/* line 63, select.less */
.ct-select .select-list li:last-child {
  border-bottom: 0 none;
}
