.ct-clearfix {
  zoom: 1;
}
.ct-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.ct-center {
  text-align: center;
}
.ct-left {
  text-align: left;
}
.ct-right {
  text-align: right;
}
.ct-fl {
  float: left;
  display: inline;
}
.ct-fr {
  float: right;
  display: inline;
}
.ct-box {
  border: 1px solid #eee;
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
.ct-box .head {
  font-size: 16px;
  color: #757575;
  background: #F3F3F3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #a3e9a4;
}
.ct-box .head a {
  color: #259b24;
  text-decoration: none;
  font-size: 14px;
}
.ct-box .head a i {
  margin-right: 5px;
}
.ct-box .col {
  font-size: 16px;
  color: #757575;
  background: #F3F3F3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #a3e9a4;
  border-right: 1px solid #dce1df;
}
.ct-box .col a {
  color: #757575;
  display: block;
  text-align: center;
  font-size: 16px;
}
.ct-box .col:last-child {
  border-right: 0;
}
.ct-box .col.selected {
  border-bottom: 4px solid #20b11d;
}
.ct-box .body {
  background-color: #fff;
}
.ct-btn {
  display: inline-block;
  padding: 0 50px;
  height: 37px;
  line-height: 37px;
  background-color: #f1f1f1;
  color: #757575;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3px 4px #CCC;
  border: 0 none;
  text-decoration: none;
  font-family: "Microsoft YaHei";
  height: 40px;
  line-height: 40px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ct-btn i {
  font-size: 14px;
  margin-right: 5px;
}
.ct-btn:hover,
.ct-btn:focus,
.ct-btn.focus {
  text-decoration: none;
  background: #e0e0e0;
}
.ct-btn:active,
.ct-btn.active {
  outline: 0;
  background-image: none;
}
.ct-btn.disabled,
.ct-btn[disabled],
fieldset[disabled] .ct-btn {
  cursor: crosshair;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.ct-btn.green {
  background: #3bbf38;
  color: #fff;
}
.ct-btn.green:hover {
  background: #2aae27;
}
.ct-btn.red {
  background: #f36c60;
  color: #fff;
}
.ct-btn.red:hover {
  background: #e25b4f;
}
.ct-btn.blue {
  background: #29b6f6;
  color: #fff;
}
.ct-btn.blue:hover {
  background: #18a5e5;
}
.ct-btn.large {
  height: 40px;
  line-height: 40px;
  width: 180px;
}
.ct-btn.small {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 15px;
}
.ct-btn.mini {
  width: 25px;
  text-align: center;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
}
.ct-btn.mini i {
  margin-right: 0;
}
.ct-btn.block {
  display: block;
  width: 100%;
}
.ct-btn.radius {
  border-radius: 30px;
}
.ct-btn + .ct-btn {
  margin-left: 7px;
}
.ct-btn.block + .ct-btn.block {
  margin-top: 5px;
  margin-left: 0;
}
.ct-bg {
  background: #FAFAFA none repeat scroll 0 0;
}
.ct-bg.green {
  color: #fff;
  background-color: #3bbf38;
}
.ct-bg.red {
  color: #fff;
  background-color: #f36c60;
}
.ct-bg.blue {
  color: #fff;
  background-color: #29b6f6;
}
.ct-bg.yellow {
  color: #fff;
  background-color: #fbc02d;
}
.ct-bg.grey {
  color: #fff;
  background-color: #9e9e9e;
}
.ct-bg.purple {
  color: #fff;
  background-color: #6e5494;
}
.ct-color.green {
  color: #3bbf38;
}
.ct-color.red {
  color: #f36c60;
}
.ct-color.blue {
  color: #29b6f6;
}
.ct-color.yellow {
  color: #fbc02d;
}
.ct-color.grey {
  color: #9e9e9e;
}
.ct-color.purple {
  color: #6e5494;
}
.ct-form {
  background: #fff;
  padding: 15px;
}
.ct-form .row {
  margin-bottom: 15px;
  zoom: 1;
}
.ct-form .row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.ct-form .label,
.ct-form .label-sm,
.ct-form .label-lg {
  font-size: 14px;
  min-width: 100px;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}
.ct-form .label-sm {
  min-width: 30px;
  margin-right: 10px;
}
.ct-form .label-lg {
  min-width: 150px;
}
.ct-form .text,
.ct-form .text-sm {
  width: 70%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2d2d2;
  text-indent: 7px;
  font-size: 14px;
  padding: 3px;
  float: left;
}
.ct-form .text-sm {
  width: 192px;
}
.ct-form .textarea {
  width: 70%;
  height: 120px;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  padding: 3px;
  float: left;
}
.ct-form .text:focus,
.ct-form .text-sm:focus,
.ct-form .textarea:focus {
  border-color: #20b11d;
}
.ct-form .error,
.ct-form .error:focus {
  border-color: #ee5a5a;
}
.ct-form .tips {
  margin: 10px 0 0 20px;
  color: #808080;
  float: left;
}
.ct-form .combine {
  border: 1px solid #c9c9c9;
  width: 515px;
  height: 30px;
  line-height: 30px;
  margin-right: 7px;
}
.ct-form .combine label {
  background: #eee;
  width: 60px;
  font-size: 14px;
  text-align: center;
  border-right: 1px solid #c9c9c9;
  margin-top: 0;
  border-radius: 5px 0 0 5px;
  margin-right: 3px;
}
.ct-form .combine input {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  width: 440px;
  border: 0 none;
  font-size: 14px;
}
.ct-form .combine input[disabled] {
  background-color: #fff;
}
.ct-form.mini {
  padding: 5px;
}
.ct-form.mini .label {
  min-width: 20px;
  margin: 5px;
  font-size: 12px;
  float: left;
}
.ct-form.mini .text {
  width: 70%;
  border: 1px solid #d2d2d2;
  height: 18px;
  line-height: 18px;
  padding: 3px;
  font-size: 12px;
  text-indent: 2px;
  float: left;
}
.ct-form.mini .text-sm {
  width: 80px;
  border: 1px solid #d2d2d2;
  height: 18px;
  line-height: 18px;
  padding: 3px;
  font-size: 12px;
  float: left;
}
.ct-h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ct-h1-sm {
  font-size: 23.4px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.ct-h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ct-h2-sm {
  font-size: 19.5px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.ct-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ct-h3-sm {
  font-size: 15.6px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.ct-h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ct-h4-sm {
  font-size: 11.7px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.ct-h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ct-h5-sm {
  font-size: 9.1px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.ct-h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ct-h6-sm {
  font-size: 7.8px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.ct-hint,
[data-hint] {
  position: relative;
  display: inline-block;
}
.ct-hint:before,
.ct-hint:after,
[data-hint]:before,
[data-hint]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
}
.ct-hint:hover:before,
.ct-hint:hover:after,
.ct-hint:focus:before,
.ct-hint:focus:after,
[data-hint]:hover:before,
[data-hint]:hover:after,
[data-hint]:focus:before,
[data-hint]:focus:after {
  visibility: visible;
  opacity: 1;
}
.ct-hint:hover:before,
.ct-hint:hover:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}
.ct-hint:before,
[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}
.ct-hint:after,
[data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
.ct-hint-top:before {
  border-top-color: #383838;
}
.ct-hint-bottom:before {
  border-bottom-color: #383838;
}
.ct-hint-left:before {
  border-left-color: #383838;
}
.ct-hint-right:before {
  border-right-color: #383838;
}
.ct-hint-top:before {
  margin-bottom: -12px;
}
.ct-hint-top:after {
  margin-left: -18px;
}
.ct-hint-top:before,
.ct-hint-top:after {
  bottom: 100%;
  left: 50%;
}
.ct-hint-top:hover:after,
.ct-hint-top:hover:before,
.ct-hint-top:focus:after,
.ct-hint-top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
.ct-hint-bottom:before {
  margin-top: -12px;
}
.ct-hint-bottom:after {
  margin-left: -18px;
}
.ct-hint-bottom:before,
.ct-hint-bottom:after {
  top: 100%;
  left: 50%;
}
.ct-hint-bottom:hover:after,
.ct-hint-bottom:hover:before,
.ct-hint-bottom:focus:after,
.ct-hint-bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}
.ct-hint-right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}
.ct-hint-right:after {
  margin-bottom: -14px;
}
.ct-hint-right:before,
.ct-hint-right:after {
  left: 100%;
  bottom: 50%;
}
.ct-hint-right:hover:after,
.ct-hint-right:hover:before,
.ct-hint-right:focus:after,
.ct-hint-right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}
.ct-hint-left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}
.ct-hint-left:after {
  margin-bottom: -14px;
}
.ct-hint-left:before,
.ct-hint-left:after {
  right: 100%;
  bottom: 50%;
}
.ct-hint-left:hover:after,
.ct-hint-left:hover:before,
.ct-hint-left:focus:after,
.ct-hint-left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
.ct-hint-always:after,
.ct-hint-always:before {
  opacity: 1;
  visibility: visible;
}
.ct-hint-always.ct-hint-top:after,
.ct-hint-always.ct-hint-top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
.ct-hint-always.ct-hint-bottom:after,
.ct-hint-always.ct-hint-bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}
.ct-hint-always.ct-hint-left:after,
.ct-hint-always.ct-hint-left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
.ct-hint-always.ct-hint-right:after,
.ct-hint-always.ct-hint-right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}
.ct-list {
  font-size: 12px;
}
.ct-list .row-search {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  background: #f9f9f1;
}
.ct-list table {
  padding: 0;
  margin: 0;
  width: 100%;
}
.ct-list table thead {
  border-bottom: 2px solid #20b11d;
  background-color: #EBFDD9;
}
.ct-list table thead tr td {
  color: #6F7672;
  font-size: 14px;
  padding: 12px;
}
.ct-list table thead tr td input {
  vertical-align: middle;
}
.ct-list table tbody tr:last-child {
  border-bottom: 0 none;
}
.ct-list table tbody tr:hover {
  background: #e8f5e9;
}
.ct-list table tbody tr.selected {
  background-color: #a3e9a4;
}
.ct-list table tbody tr {
  border-bottom: 1px solid #cfcfcf;
}
.ct-list table tbody tr td {
  padding: 12px;
}
.ct-list table tbody tr td input {
  vertical-align: middle;
}
.ct-m-auto {
  margin-left: auto;
  margin-right: auto;
}
.ct-m {
  margin: 20px;
}
.ct-mtb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ct-mlr {
  margin-left: 20px;
  margin-right: 20px;
}
.ct-mt {
  margin-top: 20px;
}
.ct-mr {
  margin-right: 20px;
}
.ct-mb {
  margin-bottom: 20px;
}
.ct-ml {
  margin-left: 20px;
}
/*Large margin  25px*/
.ct-m-lg {
  margin: 25px;
}
.ct-mtb-lg {
  margin-top: 25px;
  margin-bottom: 25px;
}
.ct-mlr-lg {
  margin-left: 25px;
  margin-right: 25px;
}
.ct-mt-lg {
  margin-top: 25px;
}
.ct-mr-lg {
  margin-right: 25px;
}
.ct-mb-lg {
  margin-bottom: 25px;
}
.ct-ml-lg {
  margin-left: 25px;
}
/*Small margin  10px*/
.ct-m-sm {
  margin: 10px;
}
.ct-mtb-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ct-mlr-sm {
  margin-left: 10px;
  margin-right: 10px;
}
.ct-mt-sm {
  margin-top: 10px;
}
.ct-mr-sm {
  margin-right: 10px;
}
.ct-mb-sm {
  margin-bottom: 10px;
}
.ct-ml-sm {
  margin-left: 10px;
}
/* Extra small margin  5px*/
.ct-m-xs {
  margin: 5px;
}
.ct-mtb-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.ct-mlr-xs {
  margin-left: 5px;
  margin-right: 5px;
}
.ct-mt-xs {
  margin-top: 5px;
}
.ct-mr-xs {
  margin-right: 5px;
}
.ct-mb-xs {
  margin-bottom: 5px;
}
.ct-ml-xs {
  margin-left: 5px;
}
.ct-p {
  padding: 20px;
}
.ct-ptb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ct-prl {
  padding-right: 20px;
  padding-left: 20px;
}
.ct-pt {
  padding-top: 20px;
}
.ct-pr {
  padding-right: 20px;
}
.ct-pb {
  padding-bottom: 20px;
}
.ct-pl {
  padding-left: 20px;
}
/*Large padding  25px*/
.ct-p-lg {
  padding: 25px;
}
.ct-ptb-lg {
  padding-top: 25px;
  padding-bottom: 25px;
}
.ct-prl-lg {
  padding-right: 25px;
  padding-left: 25px;
}
.ct-pt-lg {
  padding-top: 25px;
}
.ct-pr-lg {
  padding-right: 25px;
}
.ct-pb-lg {
  padding-bottom: 25px;
}
.ct-pl-lg {
  padding-left: 25px;
}
/*Small padding  10px*/
.ct-p-sm {
  padding: 10px;
}
.ct-ptb-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ct-prl-sm {
  padding-right: 10px;
  padding-left: 10px;
}
.ct-pt-sm {
  padding-top: 10px;
}
.ct-pr-sm {
  padding-right: 10px;
}
.ct-pb-sm {
  padding-bottom: 10px;
}
.ct-pl-sm {
  padding-left: 10px;
}
/*Extra Small padding  5px*/
.ct-p-xs {
  padding: 5px;
}
.ct-ptb-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ct-prl-xs {
  padding-right: 5px;
  padding-left: 5px;
}
.ct-pt-xs {
  padding-top: 5px;
}
.ct-pr-xs {
  padding-right: 5px;
}
.ct-pb-xs {
  padding-bottom: 5px;
}
.ct-pl-xs {
  padding-left: 5px;
}
.ct-row {
  margin-left: auto;
  margin-right: auto;
}
.ct-row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.ct-row .col.s1 {
  width: 8.33333%;
  margin-left: 0;
}
.ct-row .col.s2 {
  width: 16.66667%;
  margin-left: 0;
}
.ct-row .col.s3 {
  width: 25%;
  margin-left: 0;
}
.ct-row .col.s4 {
  width: 33.33333%;
  margin-left: 0;
}
.ct-row .col.s5 {
  width: 41.66667%;
  margin-left: 0;
}
.ct-row .col.s6 {
  width: 50%;
  margin-left: 0;
}
.ct-row .col.s7 {
  width: 58.33333%;
  margin-left: 0;
}
.ct-row .col.s8 {
  width: 66.66667%;
  margin-left: 0;
}
.ct-row .col.s9 {
  width: 75%;
  margin-left: 0;
}
.ct-row .col.s10 {
  width: 83.33333%;
  margin-left: 0;
}
.ct-row .col.s11 {
  width: 91.66667%;
  margin-left: 0;
}
.ct-row .col.s12 {
  width: 100%;
  margin-left: 0;
}
.ct-row .col.offset-s1 {
  margin-left: 8.33333%;
}
.ct-row .col.offset-s2 {
  margin-left: 16.66667%;
}
.ct-row .col.offset-s3 {
  margin-left: 25%;
}
.ct-row .col.offset-s4 {
  margin-left: 33.33333%;
}
.ct-row .col.offset-s5 {
  margin-left: 41.66667%;
}
.ct-row .col.offset-s6 {
  margin-left: 50%;
}
.ct-row .col.offset-s7 {
  margin-left: 58.33333%;
}
.ct-row .col.offset-s8 {
  margin-left: 66.66667%;
}
.ct-row .col.offset-s9 {
  margin-left: 75%;
}
.ct-row .col.offset-s10 {
  margin-left: 83.33333%;
}
.ct-row .col.offset-s11 {
  margin-left: 91.66667%;
}
.ct-row .col.offset-s12 {
  margin-left: 100%;
}
@media only screen and (min-width: 601px) {
  .ct-row .col.m1 {
    width: 8.33333%;
    margin-left: 0;
  }
  .ct-row .col.m2 {
    width: 16.66667%;
    margin-left: 0;
  }
  .ct-row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  .ct-row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
  }
  .ct-row .col.m5 {
    width: 41.66667%;
    margin-left: 0;
  }
  .ct-row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  .ct-row .col.m7 {
    width: 58.33333%;
    margin-left: 0;
  }
  .ct-row .col.m8 {
    width: 66.66667%;
    margin-left: 0;
  }
  .ct-row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  .ct-row .col.m10 {
    width: 83.33333%;
    margin-left: 0;
  }
  .ct-row .col.m11 {
    width: 91.66667%;
    margin-left: 0;
  }
  .ct-row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
  .ct-row .col.offset-m1 {
    margin-left: 8.33333%;
  }
  .ct-row .col.offset-m2 {
    margin-left: 16.66667%;
  }
  .ct-row .col.offset-m3 {
    margin-left: 25%;
  }
  .ct-row .col.offset-m4 {
    margin-left: 33.33333%;
  }
  .ct-row .col.offset-m5 {
    margin-left: 41.66667%;
  }
  .ct-row .col.offset-m6 {
    margin-left: 50%;
  }
  .ct-row .col.offset-m7 {
    margin-left: 58.33333%;
  }
  .ct-row .col.offset-m8 {
    margin-left: 66.66667%;
  }
  .ct-row .col.offset-m9 {
    margin-left: 75%;
  }
  .ct-row .col.offset-m10 {
    margin-left: 83.33333%;
  }
  .ct-row .col.offset-m11 {
    margin-left: 91.66667%;
  }
  .ct-row .col.offset-m12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .ct-row .col.l1 {
    width: 8.33333%;
    margin-left: 0;
  }
  .ct-row .col.l2 {
    width: 16.66667%;
    margin-left: 0;
  }
  .ct-row .col.l3 {
    width: 25%;
    margin-left: 0;
  }
  .ct-row .col.l4 {
    width: 33.33333%;
    margin-left: 0;
  }
  .ct-row .col.l5 {
    width: 41.66667%;
    margin-left: 0;
  }
  .ct-row .col.l6 {
    width: 50%;
    margin-left: 0;
  }
  .ct-row .col.l7 {
    width: 58.33333%;
    margin-left: 0;
  }
  .ct-row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
  }
  .ct-row .col.l9 {
    width: 75%;
    margin-left: 0;
  }
  .ct-row .col.l10 {
    width: 83.33333%;
    margin-left: 0;
  }
  .ct-row .col.l11 {
    width: 91.66667%;
    margin-left: 0;
  }
  .ct-row .col.l12 {
    width: 100%;
    margin-left: 0;
  }
  .ct-row .col.offset-l1 {
    margin-left: 8.33333%;
  }
  .ct-row .col.offset-l2 {
    margin-left: 16.66667%;
  }
  .ct-row .col.offset-l3 {
    margin-left: 25%;
  }
  .ct-row .col.offset-l4 {
    margin-left: 33.33333%;
  }
  .ct-row .col.offset-l5 {
    margin-left: 41.66667%;
  }
  .ct-row .col.offset-l6 {
    margin-left: 50%;
  }
  .ct-row .col.offset-l7 {
    margin-left: 58.33333%;
  }
  .ct-row .col.offset-l8 {
    margin-left: 66.66667%;
  }
  .ct-row .col.offset-l9 {
    margin-left: 75%;
  }
  .ct-row .col.offset-l10 {
    margin-left: 83.33333%;
  }
  .ct-row .col.offset-l11 {
    margin-left: 91.66667%;
  }
  .ct-row .col.offset-l12 {
    margin-left: 100%;
  }
}
.ct-row:after {
  content: "";
  display: table;
  clear: both;
}
.ct-select {
  position: relative;
  z-index: 9;
}
.ct-select .select-name {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  cursor: pointer;
}
.ct-select .select-name i {
  vertical-align: middle;
  margin-left: 10px;
}
.ct-select .select-list {
  position: absolute;
  top: 34px;
  left: 0;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  min-width: 120px;
  border-top: 2px solid #20b11d;
  cursor: default;
  display: none;
}
.ct-select .select-list li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #d5d9df;
}
.ct-select .select-list li a {
  color: #757575;
  display: block;
  text-indent: 10px;
}
.ct-select .select-list li.selected {
  background-color: #20b11d;
}
.ct-select .select-list li.selected a {
  color: #fff;
}
.ct-select .select-list li:hover {
  background-color: #A3E9A4;
}
.ct-select .select-list li:hover a {
  color: #757575;
}
.ct-select .select-list li:last-child {
  border-bottom: 0 none;
}
.ct-tips {
  margin: 0 12px 10px;
  padding: 30px;
  background: #fff1a6;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ct-tips a.link {
  display: inline-block;
  margin-left: 7px;
  color: #3378b5;
  text-decoration: none;
}
.ct-tips a.link:hover {
  color: #2267a4;
}
.ct-tips .single {
  height: 40px;
  line-height: 40px;
}
.ct-tips .icon {
  font-size: inherit;
}
.ct-tips .icon i {
  float: left;
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  background: #ff7e00;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ct-tips .left {
  display: table;
  float: left;
  height: 40px;
  font-size: inherit;
  line-height: 20px;
  color: #333;
  text-align: left;
  vertical-align: middle;
}
.ct-tips .right {
  font-size: inherit;
  float: right;
}
