.ct-box {
    border: 1px solid $grey-200;
    font-size: $font-size-base;
    .__head {
        font-size: $font-size-lg;
        color: $grey-600;
        background: $grey-100;
        border-bottom: 4px solid $green-100;
        @include height(50px);
        @include text-center();
        a {
            color: $green-500;
            font-size: $font-size-base;
            @include text-d-none();
            i {
                @include mr-xs();
            }
        }
    }
    .__col {
        font-size: $font-size-lg;
        color: $grey-600;
        background: $grey-100;
        border-bottom: 4px solid $green-100;
        border-right: 1px solid $color-green;
        @include height(50px);
        @include text-center();
        a {
            color: $grey-600;
            font-size: $font-size-lg;
            display: block;
            @include text-center();
        }
        &:last-child {
            border-right: 0;
        }
        &.selected {
            border-bottom: 4px solid $color-green;
        }
    }
    .__body {
        background-color: $white;
    }
}
