.ct-btn {
    display: inline-block;
    padding: 0 50px;
    background-color: $grey-100;
    color: $grey-600;
    font-size: $font-size-base;
    box-shadow: 0 3px 4px $grey-400;
    border: 0 none;
    cursor: pointer;
    height: $button-height;
    line-height: $button-line-height;
    text-decoration: none;
    text-align: center;
    @include transition(0.3s);
    @include border-radius(2px);
    i,
    span {
        font-size: $font-size-base;
        margin-right: 5px;
        line-height: inherit;
        &.ct-fr {
            margin-left: 5px;
        }
    }
    &:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    }
    &:hover,
    &:focus,
    &.focus {
        background: $grey-200;
        text-decoration: none;
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: crosshair;
        pointer-events: none; // Future-proof disabling of clicks
        @include opacity(.65);
    }
    &.\--green {
        background: $color-green;
        color: $white;
        &:hover {
            background: ($color-green - $grey-900);
        }
    }
    &.\--red {
        background: $color-red;
        color: $white;
        &:hover {
            background: ($color-red - $grey-900);
        }
    }
    &.\--blue {
        background: $color-blue;
        color: $white;
        &:hover {
            background: ($color-blue - $grey-900);
        }
    }
    &.\--large {
        @include height(48px);
        font-size: $font-size-lg;
    }
    &.\--small {
        font-size: $font-size-sm;
        padding-left: 15px;
        padding-right: 15px;
        @include height(36px);
    }
    &.\--mini {
        padding: 0;
        width: 30px;
        text-align: center;
        text-decoration: none;
        @include height(30px);
        @include border-radius(50%);
        i,
        span {
            margin-right: 0;
        }
    }
    &.\--radius {
        @include border-radius(30px);
    }
    &.\--circle {
        width: 60px !important;
        height: 60px !important;
        @include height(60px);
        @include border-radius(50%);
        text-align: center;
        padding: 0;
        i,
        span {
            margin-right: 0 !important;
            font-size: 26px !important;
        }
    }
    &.\--block {
        display: block;
        width: 100%;
        padding: 0;
    }
    &.\--no-shadow {
        box-shadow: 0 0 0 transparent;
        &:hover {
            box-shadow: 0 0 0 transparent;
        }
    }
}

.ct-btn + .ct-btn {
    margin-left: 5px;
}

.ct-btn.\--block + .ct-btn.\--block {
    margin-top: 10px;
    margin-left: 0;
}
