.ct-card {
    position: relative;
    overflow: visible;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .__title {
        font-size: 24px;
        font-weight: 300;
        i,
        span {
            line-height: inherit;
        }
        &.__activator {
            cursor: pointer;
        }
        .__close {
            font-size: inherit;
            font-weight: 300;
            height: 24px;
            margin-right: 5px;
            line-height: 24px;
            float: right;
            cursor: pointer;
        }
    }
    // Card Sizes
    &.\--small,
    &.\--medium,
    &.\--large {
        position: relative;
        .__image {
            overflow: hidden;
        }
        .__content {
            overflow: hidden;
        }
        .__action {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &.\--small {
        height: 300px;
        .__image {
            height: 150px;
        }
        .__content {
            height: 150px;
        }
    }
    &.\--medium {
        height: 400px;
        .__image {
            height: 250px;
        }
        .__content {
            height: 150px;
        }
    }
    &.\--large {
        height: 500px;
        .__image {
            height: 330px;
        }
        .__content {
            height: 170px;
        }
    }
    .__image {
        position: relative;
        // Image background for content
        img {
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
        }
        .__title {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $card-padding;
        }
    }
    .__content {
        padding: $card-padding;
        border-radius: 0 0 2px 2px;
        p {
            margin: 0;
            color: inherit;
        }
        .__title {
            line-height: 48px;
        }
    }
    .__action {
        border-top: 1px solid rgba(160, 160, 160, .2);
        padding: $card-padding;
        a {
            color: $card-link-color;
            margin-right: $card-padding;
            transition: color .3s ease;
            text-transform: uppercase;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .__reveal {
        padding: $card-padding;
        position: absolute;
        background-color: $card-bg-color;
        width: 100%;
        overflow-y: auto;
        top: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        .__title {
            cursor: pointer;
            display: block;
        }
    }
}
