// Pagination
.ct-pagination {
    li {
        float: left;
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 30px;
        border-radius: 2px;
        text-align: center;
        a {
            color: #444;
        }
        &.active a {
            color: #fff;
        }
        &.active {
            background-color: $color-blue;
        }
        &.disabled a {
            cursor: default;
            color: #999;
        }
        i {
            font-size: 2rem;
        }
    }
    li.__pages ul li {
        display: inline-block;
        float: none;
    }
}

@media (max-width: $medium-screen) {
    .ct-pagination {
        width: 100%;
        li.__prev,
        li.__next {
            width: 10%;
        }
        li.__pages {
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}