// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.ct-container {
    @include make-container();
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    // For each breakpoint, define the maximum width of the container in a media query
    @each $breakpoint,
    $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width;
        }
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.ct-container-fluid {
    @include make-container();
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

// Row
//
// Rows contain and clear the floats of your columns.
.ct-row {
    @include make-row();
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

// Columns
//
// Common styles for small and large grid columns
@include make-grid-columns();
// Flex variation
//
// Custom styles for additional flex alignment options.
@if $enable-flex {
    // Flex column reordering
    .ct-xs-first {
        order: -1;
    }
    .ct-xs-last {
        order: 1;
    }
    @include media-breakpoint-up(sm) {
        .ct-sm-first {
            order: -1;
        }
        .ct-sm-last {
            order: 1;
        }
    }
    @include media-breakpoint-up(md) {
        .ct-md-first {
            order: -1;
        }
        .ct-md-last {
            order: 1;
        }
    }
    @include media-breakpoint-up(lg) {
        .ct-lg-first {
            order: -1;
        }
        .ct-lg-last {
            order: 1;
        }
    }
    @include media-breakpoint-up(xl) {
        .ct-xl-first {
            order: -1;
        }
        .ct-xl-last {
            order: 1;
        }
    }
    // Alignment for every column in row
    .ct-xs-top {
        align-items: flex-start;
    }
    .ct-xs-center {
        align-items: center;
    }
    .ct-xs-bottom {
        align-items: flex-end;
    }
    @include media-breakpoint-up(sm) {
        .ct-sm-top {
            align-items: flex-start;
        }
        .ct-sm-center {
            align-items: center;
        }
        .ct-sm-bottom {
            align-items: flex-end;
        }
    }
    @include media-breakpoint-up(md) {
        .ct-md-top {
            align-items: flex-start;
        }
        .ct-md-center {
            align-items: center;
        }
        .ct-md-bottom {
            align-items: flex-end;
        }
    }
    @include media-breakpoint-up(lg) {
        .ct-lg-top {
            align-items: flex-start;
        }
        .ct-lg-center {
            align-items: center;
        }
        .ct-lg-bottom {
            align-items: flex-end;
        }
    }
    @include media-breakpoint-up(xl) {
        .ct-xl-top {
            align-items: flex-start;
        }
        .ct-xl-center {
            align-items: center;
        }
        .ct-xl-bottom {
            align-items: flex-end;
        }
    }
    // Alignment per column
    .ct-xs-top {
        align-self: flex-start;
    }
    .ct-xs-center {
        align-self: center;
    }
    .ct-xs-bottom {
        align-self: flex-end;
    }
    @include media-breakpoint-up(sm) {
        .ct-sm-top {
            align-self: flex-start;
        }
        .ct-sm-center {
            align-self: center;
        }
        .ct-sm-bottom {
            align-self: flex-end;
        }
    }
    @include media-breakpoint-up(md) {
        .ct-md-top {
            align-self: flex-start;
        }
        .ct-md-center {
            align-self: center;
        }
        .ct-md-bottom {
            align-self: flex-end;
        }
    }
    @include media-breakpoint-up(lg) {
        .ct-lg-top {
            align-self: flex-start;
        }
        .ct-lg-center {
            align-self: center;
        }
        .ct-lg-bottom {
            align-self: flex-end;
        }
    }
    @include media-breakpoint-up(xl) {
        .ct-xl-top {
            align-self: flex-start;
        }
        .ct-xl-center {
            align-self: center;
        }
        .ct-xl-bottom {
            align-self: flex-end;
        }
    }
}
