 // Tables
 .ct-table-wrapper {
     -webkit-overflow-scrolling: touch;
     overflow-x: auto;
     table,
     th,
     td {
         border: none;
     }
     table {
         width: 100%;
         display: table;
         &.ct-bordered > thead > tr,
         &.ct-bordered > tbody > tr {
             border-bottom: 1px solid $table-border-color;
         }
         &.ct-striped > tbody {
             > tr:nth-child(odd) {
                 background-color: $table-striped-color;
             }
             > tr > td {
                 border-radius: 0px;
             }
         }
         &.ct-hoverable > tbody > tr {
             transition: background-color .25s ease;
             &:hover {
                 background-color: $table-striped-color;
             }
         }
         &.ct-centered {
             thead tr th,
             tbody tr td {
                 text-align: center;
             }
         }
     }
     thead {
         border-bottom: 1px solid $table-border-color;
     }
     td,
     th {
         padding: 15px 5px;
         display: table-cell;
         text-align: left;
         vertical-align: middle;
         border-radius: 2px;
     }
     // Responsive Table
     @media (max-width: $medium-screen) {
         table.ct-responsive {
             width: 100%;
             border-collapse: collapse;
             border-spacing: 0;
             display: block;
             position: relative;
             th,
             td {
                 margin: 0;
                 vertical-align: top;
             }
             th {
                 text-align: left;
             }
             thead {
                 display: block;
                 float: left;
                 tr {
                     display: block;
                     padding: 0 10px 0 0;
                     th::before {
                         content: "";
                     }
                 }
             }
             tbody {
                 display: block;
                 width: auto;
                 position: relative;
                 overflow-x: auto;
                 white-space: nowrap;
                 tr {
                     display: inline-block;
                     vertical-align: top;
                 }
             }
             th {
                 display: block;
                 text-align: right;
             }
             td {
                 display: block;
                 min-height: 1.25em;
                 text-align: left;
             }
             tr {
                 padding: 0 10px;
             }
             /* sort out borders */
             thead {
                 border: 0;
                 border-right: 1px solid $table-border-color;
             }
             &.ct-bordered {
                 th {
                     border-bottom: 0;
                     border-left: 0;
                 }
                 td {
                     border-left: 0;
                     border-right: 0;
                     border-bottom: 0;
                 }
                 tr {
                     border: 0;
                 }
                 tbody tr {
                     border-right: 1px solid $table-border-color;
                 }
             }
         }
     }
 }
 
 // Tables
