.ct-left {
    @include text-left();
}

.ct-center {
    @include text-center();
}

.ct-right {
    @include text-right();
}

.ct-top {
    @include vertical-top();
}

.ct-middle {
    @include vertical-middle();
}

.ct-bottom {
    @include vertical-bottom();
}

// Valign Middle
.ct-valign-wrapper {
    display: flex;
    align-items: center;
    .ct-valign {
        display: block;
    }
}

