.ct-tips {
    margin: 10px;
    padding: 15px;
    background: #fff1a6;
    font-size: 14px;
    @include border-radius(3px);
    color: #333;
    text-align: left;
    line-height: 40px;

    &.\--large {
        padding: 30px;
    }

    &.\--small {
        padding: 10px;
    }

    @include clear();

    i {
        width: 40px;
        text-align: center;
        margin-right: 10px;
        color: #fff;
        font-size: 30px;
        font-style: normal;
        background: #ff7e00;
        @include height(40px);
        @include border-radius(50%);
    }
}