@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("./font/roboto/Roboto-Thin.woff2") format("woff2"), url("./font/roboto/Roboto-Thin.woff") format("woff"), url("./font/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("./font/roboto/Roboto-Light.woff2") format("woff2"), url("./font/roboto/Roboto-Light.woff") format("woff"), url("./font/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("./font/roboto/Roboto-Regular.woff2") format("woff2"), url("./font/roboto/Roboto-Regular.woff") format("woff"), url("./font/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./font/roboto/Roboto-Medium.woff2") format("woff2"), url("./font/roboto/Roboto-Medium.woff") format("woff"), url("./font/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("./font/roboto/Roboto-Bold.woff2") format("woff2"), url("./font/roboto/Roboto-Bold.woff") format("woff"), url("./font/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

.ct-font-roboto {
    font-family: "Roboto", sans-serif;
}

.ct-font-helvetica {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

.ct-font-monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

//Typography
html {
    line-height: 1.5;
    @media only screen and (min-width: 0) {
        font-size: 14px;
    }
    @media only screen and (min-width: $medium-screen) {
        font-size: 14.5px;
    }
    @media only screen and (min-width: $large-screen) {
        font-size: 15px;
    }
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

.ct-h1,
.ct-h2,
.ct-h3,
.ct-h4,
.ct-h5,
.ct-h6 {
    font-weight: 400;
    line-height: 1.1;
}

// Header Styles
.ct-h1 a,
.ct-h2 a,
.ct-h3 a,
.ct-h4 a,
.ct-h5 a,
.ct-h6 a {
    font-weight: inherit;
    text-decoration: none;
}

.ct-h1 {
    font-size: $h1-fontsize;
    line-height: 110%;
    margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;
}

.ct-h2 {
    font-size: $h2-fontsize;
    line-height: 110%;
    margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;
}

.ct-h3 {
    font-size: $h3-fontsize;
    line-height: 110%;
    margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;
}

.ct-h4 {
    font-size: $h4-fontsize;
    line-height: 110%;
    margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;
}

.ct-h5 {
    font-size: $h5-fontsize;
    line-height: 110%;
    margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;
}

.ct-h6 {
    font-size: $h6-fontsize;
    line-height: 110%;
    margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;
}