$red-50: #fde0dc !important;
$red-100: #f9bdbb !important;
$red-200: #f69988 !important;
$red-300: #f36c60 !important;
$red-400: #e84e40 !important;
$red-500: #e51c23 !important;
$red-600: #dd191d !important;
$red-700: #d01716 !important;
$red-800: #c41411 !important;
$red-900: #b0120a !important;
$red-A100: #ff7997 !important;
$red-A200: #ff5177 !important;
$red-A400: #ff2d6f !important;
$red-A700: #e00032 !important;

$pink-50: #fce4ec !important;
$pink-100: #f8bbd0 !important;
$pink-200: #f48fb1 !important;
$pink-300: #f06292 !important;
$pink-400: #ec407a !important;
$pink-500: #e91e63 !important;
$pink-600: #d81b60 !important;
$pink-700: #c2185b !important;
$pink-800: #ad1457 !important;
$pink-900: #880e4f !important;
$pink-A100: #ff80ab !important;
$pink-A200: #ff4081 !important;
$pink-A400: #f50057 !important;
$pink-A700: #c51162 !important;

$purple-50: #f3e5f5 !important;
$purple-100: #e1bee7 !important;
$purple-200: #ce93d8 !important;
$purple-300: #ba68c8 !important;
$purple-400: #ab47bc !important;
$purple-500: #9c27b0 !important;
$purple-600: #8e24aa !important;
$purple-700: #7b1fa2 !important;
$purple-800: #6a1b9a !important;
$purple-900: #4a148c !important;
$purple-A100: #ea80fc !important;
$purple-A200: #e040fb !important;
$purple-A400: #d500f9 !important;
$purple-A700: #aa00ff !important;

$deep-purple-50: #ede7f6 !important;
$deep-purple-100: #d1c4e9 !important;
$deep-purple-200: #b39ddb !important;
$deep-purple-300: #9575cd !important;
$deep-purple-400: #7e57c2 !important;
$deep-purple-500: #673ab7 !important;
$deep-purple-600: #5e35b1 !important;
$deep-purple-700: #512da8 !important;
$deep-purple-800: #4527a0 !important;
$deep-purple-900: #311b92 !important;
$deep-purple-A100: #b388ff !important;
$deep-purple-A200: #7c4dff !important;
$deep-purple-A400: #651fff !important;
$deep-purple-A700: #6200ea !important;

$indigo-50: #e8eaf6 !important;
$indigo-100: #c5cae9 !important;
$indigo-200: #9fa8da !important;
$indigo-300: #7986cb !important;
$indigo-400: #5c6bc0 !important;
$indigo-500: #3f51b5 !important;
$indigo-600: #3949ab !important;
$indigo-700: #303f9f !important;
$indigo-800: #283593 !important;
$indigo-900: #1a237e !important;
$indigo-A100: #8c9eff !important;
$indigo-A200: #536dfe !important;
$indigo-A400: #3d5afe !important;
$indigo-A700: #304ffe !important;

$blue-50: #e7e9fd !important;
$blue-100: #d0d9ff !important;
$blue-200: #afbfff !important;
$blue-300: #91a7ff !important;
$blue-400: #738ffe !important;
$blue-500: #5677fc !important;
$blue-600: #4e6cef !important;
$blue-700: #455ede !important;
$blue-800: #3b50ce !important;
$blue-900: #2a36b1 !important;
$blue-A100: #a6baff !important;
$blue-A200: #6889ff !important;
$blue-A400: #4d73ff !important;
$blue-A700: #4d69ff !important;

$light-blue-50: #e1f5fe !important;
$light-blue-100: #b3e5fc !important;
$light-blue-200: #81d4fa !important;
$light-blue-300: #4fc3f7 !important;
$light-blue-400: #29b6f6 !important;
$light-blue-500: #03a9f4 !important;
$light-blue-600: #039be5 !important;
$light-blue-700: #0288d1 !important;
$light-blue-800: #0277bd !important;
$light-blue-900: #01579b !important;
$light-blue-A100: #80d8ff !important;
$light-blue-A200: #40c4ff !important;
$light-blue-A400: #00b0ff !important;
$light-blue-A700: #0091ea !important;

$cyan-50: #e0f7fa !important;
$cyan-100: #b2ebf2 !important;
$cyan-200: #80deea !important;
$cyan-300: #4dd0e1 !important;
$cyan-400: #26c6da !important;
$cyan-500: #00bcd4 !important;
$cyan-600: #00acc1 !important;
$cyan-700: #0097a7 !important;
$cyan-800: #00838f !important;
$cyan-900: #006064 !important;
$cyan-A100: #84ffff !important;
$cyan-A200: #18ffff !important;
$cyan-A400: #00e5ff !important;
$cyan-A700: #00b8d4 !important;

$teal-50: #e0f2f1 !important;
$teal-100: #b2dfdb !important;
$teal-200: #80cbc4 !important;
$teal-300: #4db6ac !important;
$teal-400: #26a69a !important;
$teal-500: #009688 !important;
$teal-600: #00897b !important;
$teal-700: #00796b !important;
$teal-800: #00695c !important;
$teal-900: #004d40 !important;
$teal-A100: #a7ffeb !important;
$teal-A200: #64ffda !important;
$teal-A400: #1de9b6 !important;
$teal-A700: #00bfa5 !important;

$green-50: #d0f8ce !important;
$green-100: #a3e9a4 !important;
$green-200: #72d572 !important;
$green-300: #42bd41 !important;
$green-400: #2baf2b !important;
$green-500: #259b24 !important;
$green-600: #0a8f08 !important;
$green-700: #0a7e07 !important;
$green-800: #056f00 !important;
$green-900: #0d5302 !important;
$green-A100: #a2f78d !important;
$green-A200: #5af158 !important;
$green-A400: #14e715 !important;
$green-A700: #12c700 !important;

$light-green-50: #f1f8e9 !important;
$light-green-100: #dcedc8 !important;
$light-green-200: #c5e1a5 !important;
$light-green-300: #aed581 !important;
$light-green-400: #9ccc65 !important;
$light-green-500: #8bc34a !important;
$light-green-600: #7cb342 !important;
$light-green-700: #689f38 !important;
$light-green-800: #558b2f !important;
$light-green-900: #33691e !important;
$light-green-A100: #ccff90 !important;
$light-green-A200: #b2ff59 !important;
$light-green-A400: #76ff03 !important;
$light-green-A700: #64dd17 !important;

$lime-50: #f9fbe7 !important;
$lime-100: #f0f4c3 !important;
$lime-200: #e6ee9c !important;
$lime-300: #dce775 !important;
$lime-400: #d4e157 !important;
$lime-500: #cddc39 !important;
$lime-600: #c0ca33 !important;
$lime-700: #afb42b !important;
$lime-800: #9e9d24 !important;
$lime-900: #827717 !important;
$lime-A100: #f4ff81 !important;
$lime-A200: #eeff41 !important;
$lime-A400: #c6ff00 !important;
$lime-A700: #aeea00 !important;

$yellow-50: #fffde7 !important;
$yellow-100: #fff9c4 !important;
$yellow-200: #fff59d !important;
$yellow-300: #fff176 !important;
$yellow-400: #ffee58 !important;
$yellow-500: #ffeb3b !important;
$yellow-600: #fdd835 !important;
$yellow-700: #fbc02d !important;
$yellow-800: #f9a825 !important;
$yellow-900: #f57f17 !important;
$yellow-A100: #ffff8d !important;
$yellow-A200: #ffff00 !important;
$yellow-A400: #ffea00 !important;
$yellow-A700: #ffd600 !important;

$amber-50: #fff8e1 !important;
$amber-100: #ffecb3 !important;
$amber-200: #ffe082 !important;
$amber-300: #ffd54f !important;
$amber-400: #ffca28 !important;
$amber-500: #ffc107 !important;
$amber-600: #ffb300 !important;
$amber-700: #ffa000 !important;
$amber-800: #ff8f00 !important;
$amber-900: #ff6f00 !important;
$amber-A100: #ffe57f !important;
$amber-A200: #ffd740 !important;
$amber-A400: #ffc400 !important;
$amber-A700: #ffab00 !important;

$orange-50: #fff3e0 !important;
$orange-100: #ffe0b2 !important;
$orange-200: #ffcc80 !important;
$orange-300: #ffb74d !important;
$orange-400: #ffa726 !important;
$orange-500: #ff9800 !important;
$orange-600: #fb8c00 !important;
$orange-700: #f57c00 !important;
$orange-800: #ef6c00 !important;
$orange-900: #e65100 !important;
$orange-A100: #ffd180 !important;
$orange-A200: #ffab40 !important;
$orange-A400: #ff9100 !important;
$orange-A700: #ff6d00 !important;

$deep-orange-50: #fbe9e7 !important;
$deep-orange-100: #ffccbc !important;
$deep-orange-200: #ffab91 !important;
$deep-orange-300: #ff8a65 !important;
$deep-orange-400: #ff7043 !important;
$deep-orange-500: #ff5722 !important;
$deep-orange-600: #f4511e !important;
$deep-orange-700: #e64a19 !important;
$deep-orange-800: #d84315 !important;
$deep-orange-900: #bf360c !important;
$deep-orange-A100: #ff9e80 !important;
$deep-orange-A200: #ff6e40 !important;
$deep-orange-A400: #ff3d00 !important;
$deep-orange-A700: #dd2c00 !important;

$brown-50: #efebe9 !important;
$brown-100: #d7ccc8 !important;
$brown-200: #bcaaa4 !important;
$brown-300: #a1887f !important;
$brown-400: #8d6e63 !important;
$brown-500: #795548 !important;
$brown-600: #6d4c41 !important;
$brown-700: #5d4037 !important;
$brown-800: #4e342e !important;
$brown-900: #3e2723 !important;

$blue-grey-50: #eceff1 !important;
$blue-grey-100: #cfd8dc !important;
$blue-grey-200: #b0bec5 !important;
$blue-grey-300: #90a4ae !important;
$blue-grey-400: #78909c !important;
$blue-grey-500: #607d8b !important;
$blue-grey-600: #546e7a !important;
$blue-grey-700: #455a64 !important;
$blue-grey-800: #37474f !important;
$blue-grey-900: #263238 !important;

$grey-50: #fafafa !important;
$grey-100: #f5f5f5 !important;
$grey-200: #eeeeee !important;
$grey-300: #e0e0e0 !important;
$grey-400: #bdbdbd !important;
$grey-500: #9e9e9e !important;
$grey-600: #757575 !important;
$grey-700: #616161 !important;
$grey-800: #424242 !important;
$grey-900: #212121 !important;