.ct-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &:after,
    &:before {
        display: table;
        content: " ";
        box-sizing: border-box;
    }
}

.ct-container-fluid {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &:after,
    &:before {
        display: table;
        content: " ";
        box-sizing: border-box;
    }
}

.ct-row {
    margin-left: auto;
    margin-right: auto;
    .col {
        box-sizing: border-box;
        padding: 0 0.75rem;
        &.md1 {
            width: 8.33333%;
            margin-left: 0;
        }
        &.md2 {
            width: 16.66667%;
            margin-left: 0;
        }
        &.md3 {
            width: 25%;
            margin-left: 0;
        }
        &.md4 {
            width: 33.33333%;
            margin-left: 0;
        }
        &.md5 {
            width: 41.66667%;
            margin-left: 0;
        }
        &.md6 {
            width: 50%;
            margin-left: 0;
        }
        &.md7 {
            width: 58.33333%;
            margin-left: 0;
        }
        &.md8 {
            width: 66.66667%;
            margin-left: 0;
        }
        &.md9 {
            width: 75%;
            margin-left: 0;
        }
        &.md10 {
            width: 83.33333%;
            margin-left: 0;
        }
        &.md11 {
            width: 91.66667%;
            margin-left: 0;
        }
        &.md12 {
            width: 100%;
            margin-left: 0;
        }
        &.offset-md1 {
            margin-left: 8.33333%;
        }
        &.offset-md2 {
            margin-left: 16.66667%;
        }
        &.offset-md3 {
            margin-left: 25%;
        }
        &.offset-md4 {
            margin-left: 33.33333%;
        }
        &.offset-md5 {
            margin-left: 41.66667%;
        }
        &.offset-md6 {
            margin-left: 50%;
        }
        &.offset-md7 {
            margin-left: 58.33333%;
        }
        &.offset-md8 {
            margin-left: 66.66667%;
        }
        &.offset-md9 {
            margin-left: 75%;
        }
        &.offset-md10 {
            margin-left: 83.33333%;
        }
        &.offset-md11 {
            margin-left: 91.66667%;
        }
        &.offset-md12 {
            margin-left: 100%;
        }
    }
    &:after,
    &:before {
        content: "";
        display: table;
        clear: both;
    }
}


