//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across csstoolkits
//Black series
$black: #000;
$full-black: rgba(0, 0, 0, 1);
$dark-black: rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black: rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);

//White series
$white: #fff;
$full-white: rgba(255, 255, 255, 1);
$dark-white: rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);

// This is place to put any variable overrides as well.

$color-green: rgba(59, 191, 56, 1);
$color-red: $red-300;
$color-blue: $light-blue-400;
$color-yellow: $yellow-700;
$color-grey: $grey-500;
$color-purple: rgba(110, 84, 148, 1);


//Some common values
$number-step-length: 5px;
$number-base: 15px;
$number-md: $number-base;
$number-sm: ($number-md - $number-step-length);
$number-xs: ($number-sm - $number-step-length);
$number-lg: ($number-md + $number-step-length);

//Reset some attribute
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;

//== Media queries breakpoints
// Watch screen / No use
$screen-xs: 220px;
// Small screen
$screen-sm: 480px;
// Medium screen
$screen-md: 768px;
// Large screen / wide desktop
$screen-lg: 992px;

$screen-md-max: ($screen-md - 1);


// gird system
$enable-flex:               false !default;