//
// Variables
// --------------------------------------------------
// Colors
//Black series
$black: #000;
$full-black: rgba(0, 0, 0, 1);
$dark-black: rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black: rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);

//White series
$white: #fff;
$full-white: rgba(255, 255, 255, 1);
$dark-white: rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);

// Tables 
$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;

// This is place to put any variable overrides as well.
$color-green: rgba(59, 191, 56, 1);
$color-red: $red-300;
$color-blue: $light-blue-400;
$color-yellow: $yellow-700;
$color-grey: $grey-500;
$color-purple: rgba(110, 84, 148, 1);

/*** Cards ***/
$card-padding: 20px !default;
$card-bg-color: #fff !default;
$card-link-color: #ffab40 !default;

//Some common values
$number-step-length: 5px;
$number-base: 15px;
$number-md: $number-base;
$number-sm: ($number-md - $number-step-length);
$number-xs: ($number-sm - $number-step-length);
$number-lg: ($number-md + $number-step-length);

//Reset some attribute
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;

//About Button width
$button-height: 36px !default;
$button-line-height: 36px !default;

//
// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// Grid system
$enable-flex: false !default;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          1.875rem !default; // 30px
$element-top-margin: $grid-gutter-width/3 !default;
$element-bottom-margin: ($grid-gutter-width*2)/3 !default;

// Media Query Ranges
$small-screen: 768px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

// Flowtext Media Query Ranges _responsive-text.scss
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

/*** Collections ***/
$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $color-blue !default;
$collection-active-color: lighten($color-blue, 55%) !default;
$collection-hover-bg-color: #ddd !default;
/*** Badges ***/
$badge-bg-color: $collection-active-bg-color !default;

/*** Tabs ***/
$tabs-underline-color: lighten($red-300, 15%) !default;
$tabs-text-color: $red-300 !default;
$tabs-bg-color: #fff !default;

/*** Navbar ***/
$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;

/*** Dropdown ***/
$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $teal-400 !default;

/* Progress Bar */
$progress-bar-color: $color-blue !default;