doctype html
html
  head
    meta(charset='UTF-8')
    title CssToolkits 中文文档
    include include/_css.jade
  body
    include include/_head.jade
    main.banner
      .ct-container
        p.subtitle CSS
        p.sumary.ct-left CssToolkits是基于Material Design，纯HTML,CSS的组件库，用它可以快速构建优美的网站应用。
    .content-area
      .ct-container
        .ct-row
          include include/_component-area.jade
          include include/_component-tree.jade
    include include/_foot.jade
