.ct-tips {
    margin: 0 12px 10px;
    background: #fff1a6;
    .font("Microsoft Yahei";14px;);
    .border-radius(3px);
    .pb();
    .clear();


    &.\--large {
        padding: 30px;
    }

    .__left {
        .fl();
        color: #333;
        .text-left();
        .height(40px);

        i {
            .fl();
            display: inline-block;
            width: 40px;
            color: @white;
            font-size: 30px;
            font-style: normal;
            background: #ff7e00;
            .height(40px);
            .border-radius(50%);
            .text-center();
            .mr-sm();
        }
    }

    .__right {
        float: right;
    }
}