// Extra small padding 5px
@mixin p-xs() {
    padding: $number-xs;
}

@mixin pt-xs() {
    padding-top: $number-xs;
}

@mixin pr-xs() {
    padding-right: $number-xs;
}

@mixin pb-xs() {
    padding-bottom: $number-xs;
}

@mixin pl-xs() {
    padding-left: $number-xs;
}

@mixin plr-xs() {
    padding-left: $number-xs;
    padding-right: $number-xs;
}

@mixin ptb-xs() {
    padding-top: $number-xs;
    padding-bottom: $number-xs;
}

//Small padding 10px
@mixin p-sm() {
    padding: $number-sm;
}

@mixin pt-sm() {
    padding-top: $number-sm;
}

@mixin pr-sm() {
    padding-right: $number-sm;
}

@mixin pb-sm() {
    padding-bottom: $number-sm;
}

@mixin pl-sm() {
    padding-left: $number-sm;
}

@mixin plr-sm() {
    padding-left: $number-sm;
    padding-right: $number-sm;
}

@mixin ptb-sm() {
    padding-top: $number-sm;
    padding-bottom: $number-sm;
}

//Default size
@mixin p() {
    padding: $number-md;
}

@mixin pt() {
    padding-top: $number-md;
}

@mixin pr() {
    padding-right: $number-md;
}

@mixin pb() {
    padding-bottom: $number-md;
}

@mixin pl() {
    padding-left: $number-md;
}

@mixin plr() {
    padding-left: $number-md;
    padding-right: $number-md;
}

@mixin ptb() {
    padding-top: $number-md;
    padding-bottom: $number-md;
}

//Large padding 20px
@mixin p-lg() {
    padding: $number-lg;
}

@mixin pt-lg() {
    padding-top: $number-lg;
}

@mixin pr-lg() {
    padding-right: $number-lg;
}

@mixin pb-lg() {
    padding-bottom: $number-lg;
}

@mixin pl-lg() {
    padding-left: $number-lg;
}

@mixin plr-lg() {
    padding-left: $number-lg;
    padding-right: $number-lg;
}

@mixin ptb-lg() {
    padding-top: $number-lg;
    padding-bottom: $number-lg;
}
