// Extra small margin  5px
@mixin m-xs() {
    margin: $number-xs;
}

@mixin mt-xs() {
    margin-top: $number-xs;
}

@mixin mr-xs() {
    margin-right: $number-xs;
}

@mixin mb-xs() {
    margin-bottom: $number-xs;
}

@mixin ml-xs() {
    margin-left: $number-xs;
}

@mixin mlr-xs() {
    margin-left: $number-xs;
    margin-right: $number-xs;
}

@mixin mtb-xs() {
    margin-top: $number-xs;
    margin-bottom: $number-xs;
}

//Small margin  10px
@mixin m-sm() {
    margin: $number-sm;
}

@mixin mt-sm() {
    margin-top: $number-sm;
}

@mixin mr-sm() {
    margin-right: $number-sm;
}

@mixin mb-sm() {
    margin-bottom: $number-sm;
}

@mixin ml-sm() {
    margin-left: $number-sm;
}

@mixin mtb-sm() {
    margin-top: $number-sm;
    margin-bottom: $number-sm;
}

@mixin mlr-sm() {
    margin-left: $number-sm;
    margin-right: $number-sm;
}

//Default size
@mixin m() {
    margin: $number-md;
}

@mixin mt() {
    margin-top: $number-md;
}

@mixin mr() {
    margin-right: $number-md;
}

@mixin mb() {
    margin-bottom: $number-md;
}

@mixin ml() {
    margin-left: $number-md;
}

@mixin mtb() {
    margin-top: $number-md;
    margin-bottom: $number-md;
}

@mixin mlr() {
    margin-left: $number-md;
    margin-right: $number-md;
}

//Large margin  20px
@mixin m-lg() {
    margin: $number-lg;
}

@mixin mt-lg() {
    margin-top: $number-lg;
}

@mixin mr-lg() {
    margin-right: $number-lg;
}

@mixin mb-lg() {
    margin-bottom: $number-lg;
}

@mixin ml-lg() {
    margin-left: $number-lg;
}

@mixin mtb-lg() {
    margin-bottom: $number-lg;
    margin-top: $number-lg;
}

@mixin mlr-lg() {
    margin-left: $number-lg;
    margin-right: $number-lg;
}


// Extra small padding 5px
@mixin p-xs() {
    padding: $number-xs;
}

@mixin pt-xs() {
    padding-top: $number-xs;
}

@mixin pr-xs() {
    padding-right: $number-xs;
}

@mixin pb-xs() {
    padding-bottom: $number-xs;
}

@mixin pl-xs() {
    padding-left: $number-xs;
}

@mixin plr-xs() {
    padding-left: $number-xs;
    padding-right: $number-xs;
}

@mixin ptb-xs() {
    padding-top: $number-xs;
    padding-bottom: $number-xs;
}

//Small padding 10px
@mixin p-sm() {
    padding: $number-sm;
}

@mixin pt-sm() {
    padding-top: $number-sm;
}

@mixin pr-sm() {
    padding-right: $number-sm;
}

@mixin pb-sm() {
    padding-bottom: $number-sm;
}

@mixin pl-sm() {
    padding-left: $number-sm;
}

@mixin plr-sm() {
    padding-left: $number-sm;
    padding-right: $number-sm;
}

@mixin ptb-sm() {
    padding-top: $number-sm;
    padding-bottom: $number-sm;
}

//Default size
@mixin p() {
    padding: $number-md;
}

@mixin pt() {
    padding-top: $number-md;
}

@mixin pr() {
    padding-right: $number-md;
}

@mixin pb() {
    padding-bottom: $number-md;
}

@mixin pl() {
    padding-left: $number-md;
}

@mixin plr() {
    padding-left: $number-md;
    padding-right: $number-md;
}

@mixin ptb() {
    padding-top: $number-md;
    padding-bottom: $number-md;
}

//Large padding 20px
@mixin p-lg() {
    padding: $number-lg;
}

@mixin pt-lg() {
    padding-top: $number-lg;
}

@mixin pr-lg() {
    padding-right: $number-lg;
}

@mixin pb-lg() {
    padding-bottom: $number-lg;
}

@mixin pl-lg() {
    padding-left: $number-lg;
}

@mixin plr-lg() {
    padding-left: $number-lg;
    padding-right: $number-lg;
}

@mixin ptb-lg() {
    padding-top: $number-lg;
    padding-bottom: $number-lg;
}
