- var no_nav = true

doctype html
html(lang="en")
  head
    include include/_head.jade
  body
    include include/_navbar.jade
    main
      include index/index_content.html
    include include/_footer.html
    include include/_scripts.html