.ct-md-10.ct-sm-12
  .areas
    include ../components/border.jade
    include ../components/color.jade
    include ../components/heading.jade
    include ../components/margin.jade
    include ../components/padding.jade
    include ../components/component.jade