link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
link(rel='icon', type='image/png', href='images/favicon.png')
link(href='http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
link(href='dist/css/ct.min.css', rel='stylesheet')
link(href='css/docs.css', rel='stylesheet')