@charset 'UTF-8';
/* line 2, docs.less */
div,
form,
img,
ul,
ol,
li,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Microsoft Yahei";
}
/* line 18, docs.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
/* line 30, docs.less */
ul,
li {
  list-style: none;
}
/* line 35, docs.less */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 42, docs.less */
input,
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button,
textarea {
  -webkit-appearance: none;
  border-radius: 0px;
  outline: none;
}
/* line 54, docs.less */
button,
input {
  font-family: "Microsoft YaHei", Geneva, Verdana, sans-serif;
}
/* line 59, docs.less */
input {
  line-height: normal;
}
/* line 63, docs.less */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
/* line 73, docs.less */
a {
  color: #333;
  text-decoration: none;
}
/* line 78, docs.less */
a:hover {
  text-decoration: none;
  color: #3fbf79;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*Base Style of Mixins*/
/* line 109, docs.less */
.container {
  max-width: 1170px;
  margin: 0 auto;
}
/* line 114, docs.less */
header {
  height: 50px;
  background: #fff;
}
/* line 117, docs.less */
header .logo {
  float: left;
  font-size: 18px;
  padding: 15px 15px;
  line-height: 20px;
  font-weight: 500;
  color: #33ca6c;
  font-weight: 700;
  margin-right: 20px;
}
/* line 128, docs.less */
header .nav li {
  float: left;
  padding: 15px 15px;
  line-height: 20px;
  font-size: 14px;
}
/* line 134, docs.less */
header .nav li.active,
header .nav li:hover {
  background: #f1f1f1;
}
/* line 141, docs.less */
.banner {
  padding: 80px 0;
  position: relative;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #33ca6c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33ca6c), to(#24964f));
  background-image: -webkit-linear-gradient(to bottom, #33ca6c 0, #24964f 100%);
  background-image: -o-linear-gradient(to bottom, #33ca6c 0, #24964f 100%);
  background-image: linear-gradient(to bottom, #33ca6c 0, #24964f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@lgreen', endColorstr='@green', GradientType=0);
  background-repeat: repeat-x;
}
/* line 155, docs.less */
.banner .logo-icon {
  margin: 0 auto 30px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 144px;
  height: 144px;
  font-size: 109px;
  line-height: 140px;
  display: block;
  font-weight: 700;
  text-align: center;
  cursor: default;
  border-radius: 15%;
}
/* line 169, docs.less */
.banner .version {
  height: 50px;
  line-height: 50px;
  color: #02742d;
  font-size: 14px;
}
/* line 175, docs.less */
.banner .subtitle,
.banner .sumary {
  padding: 0 20px;
}
/* line 178, docs.less */
.banner .subtitle {
  font-size: 45px;
  text-align: left;
}
/* line 182, docs.less */
.banner .sumary {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 100;
}
/* line 189, docs.less */
.half-rule {
  width: 100px;
  margin: 40px auto;
  border-top: 1px solid #eee;
}
/* line 195, docs.less */
.lead {
  width: 80%;
  margin: 30px auto 0 auto;
  font-size: 30px;
}
/* line 200, docs.less */
.lead .download {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 6px;
}
/* line 209, docs.less */
.lead .download:hover {
  color: #24964f;
  background: #fff;
}
/* line 216, docs.less */
.featurette {
  text-align: center;
  background-color: #fff;
  line-height: 1.5;
}
/* line 222, docs.less */
.featurette .featurette-title {
  font-size: 40px;
  font-weight: 400;
  color: #333;
  margin-top: 40px;
}
/* line 228, docs.less */
.featurette .lead {
  font-size: 20px;
  margin-top: 10px;
}
/* line 234, docs.less */
.lookgithub {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  border: solid 1px #24964f;
  color: #24964f;
}
/* line 247, docs.less */
.lookgithub:hover {
  background: #24964f;
  color: rgba(255, 255, 255, 0.85);
}
/* line 252, docs.less */
.books {
  padding: 40px 0;
  text-align: center;
}
/* line 256, docs.less */
.books .items {
  padding: 0 10px;
}
/* line 259, docs.less */
.books .items h4 {
  font-size: 22px;
  padding-bottom: 10px;
}
/* line 260, docs.less */
.books .items p {
  text-align: left;
}
/* line 262, docs.less */
.books img {
  max-width: 100%;
}
/* line 268, docs.less */
.content-area {
  padding: 80px 0;
}
/* line 273, docs.less */
.content-area .menu-trees li {
  text-indent: 20px;
  font-size: 14px;
  line-height: 30px;
  border-left: 2px solid #fff;
  margin-bottom: 1px;
}
/* line 280, docs.less */
.content-area .menu-trees li.active,
.content-area .menu-trees li:hover {
  border-left: 2px solid #24964f;
}
/* line 288, docs.less */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.85);
  border-top: 1px solid #e5e5e5;
  text-align: center;
  font-size: 14px;
}
