// link(href='http://git.hub/node_modules/font-awesome/css/font-awesome.min.css', rel='stylesheet')
// link(href='http://git.hub/node_modules/normalize.css/normalize.css', rel='stylesheet')
//link(href='http://git.hub/csstoolkits/css/ct.min.css', rel='stylesheet')

link(href='http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
link(href='http://cdn.bootcss.com/normalize/3.0.3/normalize.min.css', rel='stylesheet')
link(href='css/ct.min.css', rel='stylesheet')
link(href='css/docs.css', rel='stylesheet')