header
  .container.ct-clearfix
    .logo CssToolkits
    nav
      ul.nav.ct-fl
        li
          a(href='index.html') 首页
        li
          a(href='css.html') CSS
        li
          a(href='components.html') 组件
      ul.nav.ct-fr
        li
          a(href='//csstoolkits.com') CssToolkits