.col.s2
          ul.menu-trees
            li
              a(href='#nav4') 导航
            li.active
              a(href='#') 导航条
            li
              a(href='#') 路径导航
            li
              a(href='#') 分页
            li
              a(href='#') 标签
            li
              a(href='#') 徽章