.col.s10
  .areas
    include ../components/box.jade
    include ../components/btn.jade
    include ../components/form.jade
    include ../components/calendar.jade
    include ../components/list.jade
    include ../components/row.jade
    include ../components/alert.jade