/* line 1, hint.less */
.ct-hint,
[data-hint] {
  position: relative;
  display: inline-block;
}
/* line 6, hint.less */
.ct-hint:before,
.ct-hint:after,
[data-hint]:before,
[data-hint]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 23, hint.less */
.ct-hint:hover:before,
.ct-hint:hover:after,
.ct-hint:focus:before,
.ct-hint:focus:after,
[data-hint]:hover:before,
[data-hint]:hover:after,
[data-hint]:focus:before,
[data-hint]:focus:after {
  visibility: visible;
  opacity: 1;
}
/* line 28, hint.less */
.ct-hint:hover:before,
.ct-hint:hover:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}
/* line 34, hint.less */
.ct-hint:before,
[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}
/* line 42, hint.less */
.ct-hint:after,
[data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
/* line 52, hint.less */
.ct-hint-top:before {
  border-top-color: #383838;
}
/* line 56, hint.less */
.ct-hint-bottom:before {
  border-bottom-color: #383838;
}
/* line 60, hint.less */
.ct-hint-left:before {
  border-left-color: #383838;
}
/* line 64, hint.less */
.ct-hint-right:before {
  border-right-color: #383838;
}
/* line 68, hint.less */
.ct-hint-top:before {
  margin-bottom: -12px;
}
/* line 72, hint.less */
.ct-hint-top:after {
  margin-left: -18px;
}
/* line 76, hint.less */
.ct-hint-top:before,
.ct-hint-top:after {
  bottom: 100%;
  left: 50%;
}
/* line 81, hint.less */
.ct-hint-top:hover:after,
.ct-hint-top:hover:before,
.ct-hint-top:focus:after,
.ct-hint-top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* line 87, hint.less */
.ct-hint-bottom:before {
  margin-top: -12px;
}
/* line 91, hint.less */
.ct-hint-bottom:after {
  margin-left: -18px;
}
/* line 95, hint.less */
.ct-hint-bottom:before,
.ct-hint-bottom:after {
  top: 100%;
  left: 50%;
}
/* line 100, hint.less */
.ct-hint-bottom:hover:after,
.ct-hint-bottom:hover:before,
.ct-hint-bottom:focus:after,
.ct-hint-bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}
/* line 106, hint.less */
.ct-hint-right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}
/* line 111, hint.less */
.ct-hint-right:after {
  margin-bottom: -14px;
}
/* line 115, hint.less */
.ct-hint-right:before,
.ct-hint-right:after {
  left: 100%;
  bottom: 50%;
}
/* line 120, hint.less */
.ct-hint-right:hover:after,
.ct-hint-right:hover:before,
.ct-hint-right:focus:after,
.ct-hint-right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}
/* line 126, hint.less */
.ct-hint-left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}
/* line 131, hint.less */
.ct-hint-left:after {
  margin-bottom: -14px;
}
/* line 135, hint.less */
.ct-hint-left:before,
.ct-hint-left:after {
  right: 100%;
  bottom: 50%;
}
/* line 140, hint.less */
.ct-hint-left:hover:after,
.ct-hint-left:hover:before,
.ct-hint-left:focus:after,
.ct-hint-left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* line 146, hint.less */
.ct-hint-always:after,
.ct-hint-always:before {
  opacity: 1;
  visibility: visible;
}
/* line 151, hint.less */
.ct-hint-always.ct-hint-top:after,
.ct-hint-always.ct-hint-top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* line 157, hint.less */
.ct-hint-always.ct-hint-bottom:after,
.ct-hint-always.ct-hint-bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}
/* line 163, hint.less */
.ct-hint-always.ct-hint-left:after,
.ct-hint-always.ct-hint-left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* line 169, hint.less */
.ct-hint-always.ct-hint-right:after,
.ct-hint-always.ct-hint-right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}
