/* line 4, box.less */
.ct-box {
  border: 1px solid #eee;
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
/* line 8, box.less */
.ct-box .head {
  font-size: 16px;
  color: #757575;
  background: #F3F3F3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #a3e9a4;
}
/* line 16, box.less */
.ct-box .head a {
  color: #259b24;
  text-decoration: none;
  font-size: 14px;
}
/* line 21, box.less */
.ct-box .head a i {
  margin-right: 5px;
}
/* line 27, box.less */
.ct-box .col {
  font-size: 16px;
  color: #757575;
  background: #F3F3F3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #a3e9a4;
  border-right: 1px solid #dce1df;
}
/* line 36, box.less */
.ct-box .col a {
  color: #757575;
  display: block;
  text-align: center;
  font-size: 16px;
}
/* line 44, box.less */
.ct-box .col:last-child {
  border-right: 0;
}
/* line 48, box.less */
.ct-box .col.selected {
  border-bottom: 4px solid #20b11d;
}
/* line 52, box.less */
.ct-box .body {
  background-color: #fff;
}
