- var page = "Parallax"

doctype html
html(lang="en")
  head
    include include/_head.jade
  body(class="parallax-demo")
    include page-contents/parallax_demo_content.html
    include include/_footer.html
    include include/_scripts.html