h2.ct-h2.area-title.ct-mt#overview-box 盒子box
div.area-content
  p
    code .ct-box
    |用于制作盒子模型 
    code .ct-box
    |由
    code .__head
    |和
    code .__body
    |组成。
  pre
    code.html
      |&lt;div class="ct-box">
      |     &lt;div class="head ct-clearfix">Study Plan  &lt;/div>
      |     &lt;div class="body ct-p">About Us Contents&lt;/div>
      |&lt;/div>
  .ct-box
    .__head.ct-clearfix Study Plan  
    .__body.ct-p About Us Contents    