h2.ct-h2.area-title.ct-mt#overview-btn 按钮 btn
div.area-content
  p
    code .ct-btn
    |按钮，我们可以利用 
    code .ct-btn
    |直接写出各种大小，各种颜色的按钮。
    
  pre
    code.html
      |&lt;a class="ct-btn" href="javascript:;"> .ct-btn &lt;/a>
      |&lt;a class="ct-btn ct-bg-green" href="javascript:;"> .ct-btn .green &lt;/a>
      |&lt;a class="ct-btn ct-bg-red" href="javascript:;"> .ct-btn .red &lt;/a>
      |&lt;a class="ct-btn ct-bg-blue" href="javascript:;"> .ct-btn .blue &lt;/a>

  .ct-container
    a.ct-btn(href='javascript:;')
      |.ct-btn
    a.ct-btn.ct-bg-green(href='javascript:;') 
      |.ct-btn .ct-bg-green
    a.ct-btn.ct-bg-red(href='javascript:;')
      |.ct-btn .ct-bg-red
    a.ct-btn.ct-bg-blue(href='javascript:;')
      |.ct-btn .ct-bg-blue
  p
    |通过 
    code .large
    code .small
    code .mini
    |设置按钮的大小
    
  pre
    code.html
      |&lt;a class="ct-btn large" href="javascript:;"> .ct-btn .large&lt;/a>
      |&lt;a class="ct-btn green" href="javascript:;"> .ct-btn .green &lt;/a>
      |&lt;a class="ct-btn red small" href="javascript:;"> .ct-btn .red .small&lt;/a>
      |&lt;a class="ct-btn blue mini" href="javascript:;"> .ct-btn .blue .mini&lt;/a>
  .ct-container
    a.ct-btn.large(href='javascript:;')
      |.ct-btn .large
    a.ct-btn.green(href='javascript:;') 
      |.ct-btn .green
    a.ct-btn.ct-bg-red.small(href='javascript:;')
      |.ct-btn .red .small
    a.ct-btn.ct-bg-blue.mini(href='javascript:;')
      |mi
  p
    |通过 
    code .radius
    |设置按钮为大圆角按钮
    
  pre
    code.html
      |&lt;a class="ct-btn radius" href="javascript:;">.ct-btn .radius&lt;/a>
      |&lt;a class="ct-btn green radius" href="javascript:;">.ct-btn .green .radius &lt;/a>
      |&lt;a class="ct-btn red radius" href="javascript:;">.ct-btn .red .radius&lt;/a>
      |&lt;a class="ct-btn blue radius" href="javascript:;">.ct-btn .blue .radius&lt;/a>
  .container
    a.ct-btn.radius(href='javascript:;')
      |.ct-btn .radius
    a.ct-btn.ct-bg-green.radius(href='javascript:;') 
      |.ct-btn .ct-bg-green .radius
    a.ct-btn.ct-bg-red.radius(href='javascript:;')
      |.ct-btn .ct-bg-red .radius
    a.ct-btn.ct-bg-blue.radius(href='javascript:;')
      |.ct-btn .ct-bg-blue .radius

  p
    |通过 
    code .block
    |设置按钮100%显示
    
  pre
    code.html
      |&lt;a class="ct-btn block" href="javascript:;">.ct-btn .block&lt;/a>
      |&lt;a class="ct-btn ct-bg-green block" href="javascript:;">.ct-btn .ct-bg-green .block &lt;/a>
      |&lt;a class="ct-btn ct-bg-red block" href="javascript:;">.ct-btn .ct-bg-red .block&lt;/a>
      |&lt;a class="ct-btn ct-bg-blue block" href="javascript:;">.ct-btn .ct-bg-blue .block&lt;/a>
  .container
    a.ct-btn.block(href='javascript:;')
      |.ct-btn .block
    a.ct-btn.green.block(href='javascript:;') 
      |.ct-btn .green .block
    a.ct-btn.red.block(href='javascript:;')
      |.ct-btn .red .block
    a.ct-btn.blue.block(href='javascript:;')
      |.ct-btn .blue .block

  p
    |通过 
    code .disabled
    |设置按钮为锁定状态，通过
    code .focus
    |设置按钮为获取焦点状态。

    
  pre
    code.html
      |&lt;a class="ct-btn disabled" href="javascript:;">.disabled&lt;/a>
      |&lt;a class="ct-btn" disabled href="javascript:;">disabled&lt;/a>
      |&lt;a class="ct-btn focus" href="javascript:;">.focus&lt;/a>
  .container
    a.ct-btn.ct-bg-green.disabled(href='javascript:;')
      |.ct-btn .disabled
    a.ct-btn.ct-bg-green(href='javascript:;',disabled) 
      |.ct-btn .green
    a.ct-btn.ct-bg-green.focus(href='javascript:;')
      |.ct-btn .focus
  p
    |通过 
    code font-awesome
    |为按钮设置图标
    code &lt;i class="fa fa-github">&lt;/i>

    
  pre
    code.html
      |&lt;a class="ct-btn ct-bg-green" href="javascript:;">&lt;i class="fa fa-github">&lt;/i>Github&lt;/a>
      |&lt;a class="ct-btn ct-bg-green" href="javascript:;">&lt;i class="fa fa-wechat">&lt;/i>wechat&lt;/a>
      |&lt;a class="ct-btn ct-bg-green" href="javascript:;">&lt;i class="fa fa-weibo">&lt;/i>weibo&lt;/a>
  .container
    a.ct-btn.ct-bg-green(href='javascript:;')
      i.fa.fa-github
      |.ct-btn .ct-bg-green
    a.ct-btn.ct-bg-green(href='javascript:;') 
      i.fa.fa-weibo
      |.ct-btn .ct-bg-green
    a.ct-btn.ct-bg-green(href='javascript:;')
      i.fa.fa-wechat
      |.ct-btn .green