h2.ct-h2.area-title.ct-mt#overview-color 颜色color
div.area-content
  p
    code .ct-color
    |用于设置元素的文字颜色，可以配合颜色属性设置元素的文字
    |颜色。
    code .ct-color-green
    code .ct-color-red
    code .ct-color-blue
    code .ct-color-yellow
    code .ct-color-grey
    code .ct-color-purple
    |来设置不同的颜色
  pre
    code.html
      |&lt;div class="ct-color">默认&lt;/div>
      |&lt;div class="ct-color ct-color-purple">默认&lt;/div>
      |&lt;div class="ct-color ct-color-green">green&lt;/div>
      |&lt;div class="ct-color ct-color-red">red&lt;/div>
      |&lt;div class="ct-color ct-color-blue">blue&lt;/div>
      |&lt;div class="ct-color ct-color-yellow">yellow&lt;/div>
      |...
  div.ct-flex
    .ct-color.h100.w100 默认
    .ct-color.ct-color-green.h100.w100 .green
    .ct-color.ct-color-red.h100.w100 .red
    .ct-color.ct-color-blue.h100.w100 .blue
    .ct-color.ct-color-yellow.h100.w100 .yellow
    .ct-color.ct-color-grey.h100.w100 .grey
    .ct-color.ct-color-purple.h100.w100 .purple

  p
    code .ct-bg
    |用于设置元素的背景颜色，可以配合颜色属性设置元素的背景
    code .ct-bg-green
    code .ct-bg-red
    code .ct-bg-blue
    code .ct-bg-yellow
    code .ct-bg-grey
    code .ct-bg-purple
    |来设置不同的颜色
  pre
    code.html
      |&lt;div class="ct-bg">默认&lt;/div>
      |&lt;div class="ct-bg ct-bg-purple">purple&lt;/div>
      |&lt;div class="ct-bg ct-bg-green">green&lt;/div>
      |&lt;div class="ct-bg ct-bg-red">red&lt;/div>
      |&lt;div class="ct-bg ct-bg-blue">blue&lt;/div>
      |&lt;div class="ct-bg ct-bg-yellow">yellow&lt;/div>
      |...
  div.ct-flex
    .ct-bg.h100.w100 默认
    .ct-bg.ct-bg-green.h100.w100 .green
    .ct-bg.ct-bg-red.h100.w100 .red
    .ct-bg.ct-bg-blue.h100.w100 .blue
    .ct-bg.ct-bg-yellow.h100.w100 .yellow
    .ct-bg.ct-bg-grey.h100.w100 .grey
    .ct-bg.ct-bg-purple.h100.w100 .purple