h2.ct-h2.area-title.ct-mt#overview-heading 标题heading
div.area-content
  p
    code .ct-h[1`6]
    |用于设置标题的样式
  pre
    code.html
      |&lt;div class="ct-h1">标题一&lt;/div>
  .ct-container
    .ct-h1.ct-mb 标题一
    .ct-h2.ct-mb 标题二
    .ct-h3.ct-mb 标题三
    .ct-h4.ct-mb 标题四
    .ct-h5.ct-mb 标题五
    .ct-h6.ct-mb 标题六
  p
    code .ct-h[1`6]-sm
    |用于设置小号标题的样式
  pre
    code.html
      |&lt;div class="ct-h1-sm">标题一&lt;/div>
  .ct-container
    .ct-h1-sm.ct-mb 标题一
    .ct-h2-sm.ct-mb 标题二
    .ct-h3-sm.ct-mb 标题三
    .ct-h4-sm.ct-mb 标题四
    .ct-h5-sm.ct-mb 标题五
    .ct-h6-sm.ct-mb 标题六