h2.ct-h2.area-title.ct-mt#overview-margin 外填充margin
div.area-content.ct-clearfix
  p
    code .ct-m
    |默认大小的填充值（15px）
    code t
    |代表上填充
    code b
    |代表下填充
    code l
    |代表右填充
    code r
    |代表左填充
    code .ct-m
    code .ct-mt
    code .ct-ml
    code .ct-mb
    code .ct-mr
    br
    |大号外填充类命名方式和上面一样，仅需要在上面的类后面添加
    code -lg
    |即可，如
    code .ct-m-lg
    br
    |小号外填充类命名方式和上面一样，仅需要在上面的类后面添加
    code -sm
    |即可，如
    code .ct-m-sm
    br
    |超小号外填充类命名方式和上面一样，仅需要在上面的类后面添加
    code -xs
    |即可，如
    code .ct-m-xs

  div.ct-border.--all.ct-clearfix.ct-mb-lg
    div.w100.ct-m-lg.ct-bg.purple 大号外填充
  div.ct-border.--all.ct-clearfix.ct-mb
    div.w100.ct-m.ct-bg.purple 正常外填充
  div.ct-border.--all.ct-clearfix.ct-mb-sm
    div.w100.ct-m-sm.ct-bg.purple 小号外填充
  div.ct-border.--all.ct-clearfix.ct-mb-xs
    div.w100.ct-m-xs.ct-bg.purple 超小号外填充