h2.ct-h2.area-title.ct-mt#overview-padding 内填充padding
div.area-content.ct-clearfix
  p
    code .ct-p
    |默认大小的填充值（20px）
    code t
    |代表上填充
    code b
    |代表下填充
    code l
    |代表右填充
    code r
    |代表左填充
    code tb
    |代表下下填充
    code lr
    |代表左右填充，有以下类可供使用
    code .ct-p
    code .ct-pt
    code .ct-pl
    code .ct-pb
    code .ct-pr
    code .ct-ptb
    code .ct-plr
    br
    |大号外填充类命名方式和上面一样，仅需要在上面的类后面添加
    code -lg
    |即可，如
    code .ct-p-lg
    br
    |小号外填充类命名方式和上面一样，仅需要在上面的类后面添加
    code -sp
    |即可，如
    code .ct-p-sm
    br
    |超小号外填充类命名方式和上面一样，仅需要在上面的类后面添加
    code -xs
    |即可，如
    code .ct-p-xs

  div.ct-border.--all.ct-clearfix.ct-mb-lg
    div.w100.ct-p-lg.ct-bg.green 大号外填充
  div.ct-border.--all.ct-clearfix.ct-mb-lg
    div.w100.ct-p.ct-bg.green 正常外填充
  div.ct-border.--all.ct-clearfix.ct-mb-lg
    div.w100.ct-p-sm.ct-bg.green 小号外填充
  div.ct-border.--all.ct-clearfix.ct-mb-lg
    div.w100.ct-p-xs.ct-bg.green 超小号外填充