h2.ct-h2.area-title.ct-mt#overview-row 栅栏布局ct-row 
div.area-content.ct-clearfix
  p
    code .ct-row
    |用于设置元素栅栏布局，一行一共分十二栏，通过
    code .ct-xs-*[1-12]
    code .ct-sm-*[1-12]
    code .ct-md-*[1-12]
    code .ct-lg-*[1-12]
    code .ct-xl-*[1-12]
    |来分配, 默认页面采用这个样式。即PC端页面。
  pre
    code.html
      |&lt;div class="ct-row">
      |  &lt;div class="ct-md-6">ct-md-6&lt;/div>
      |  &lt;div class="ct-md-6">ct-md-6&lt;/div>
      |&lt;/div>

  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-1.ct-bg.ct-bg-green .ct-md-1
    .ct-md-1.ct-bg.ct-bg-red   .ct-md-1
    .ct-md-1.ct-bg.ct-bg-green .ct-md-1
    .ct-md-1.ct-bg.ct-bg-red .ct-md-1
    .ct-md-1.ct-bg.ct-bg-green .ct-md-1
    .ct-md-1.ct-bg.ct-bg-red .ct-md-1
    .ct-md-1.ct-bg.ct-bg-green .ct-md-1
    .ct-md-1.ct-bg.ct-bg-red .ct-md-1
    .ct-md-1.ct-bg.ct-bg-green .ct-md-1
    .ct-md-1.ct-bg.ct-bg-red .ct-md-1
    .ct-md-1.ct-bg.ct-bg-green .ct-md-1
    .ct-md-1.ct-bg.ct-bg-red .ct-md-1
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-2.ct-bg.ct-bg-green .ct-md-2
    .ct-md-2.ct-bg.ct-bg-red   .ct-md-2
    .ct-md-2.ct-bg.ct-bg-green .ct-md-2
    .ct-md-2.ct-bg.ct-bg-red   .ct-md-2
    .ct-md-2.ct-bg.ct-bg-green .ct-md-2
    .ct-md-2.ct-bg.ct-bg-red   .ct-md-2
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-3.ct-bg.ct-bg-green .ct-md-3
    .ct-md-3.ct-bg.ct-bg-red   .ct-md-3
    .ct-md-3.ct-bg.ct-bg-green .ct-md-3
    .ct-md-3.ct-bg.ct-bg-red   .ct-md-3
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-4.ct-bg.ct-bg-green .ct-md-4
    .ct-md-4.ct-bg.ct-bg-red   .ct-md-4
    .ct-md-4.ct-bg.ct-bg-green .ct-md-4
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-5.ct-bg.ct-bg-green .ct-md-5
    .ct-md-5.ct-bg.ct-bg-red   .ct-md-5
    .ct-md-2.ct-bg.ct-bg-green .ct-md-2
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-6.ct-bg.ct-bg-green .ct-md-6
    .ct-md-6.ct-bg.ct-bg-red   .ct-md-6
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-7.ct-bg.ct-bg-green .ct-md-7
    .ct-md-5.ct-bg.ct-bg-red   .ct-md-5
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-8.ct-bg.ct-bg-green .ct-md-8
    .ct-md-4.ct-bg.ct-bg-red   .ct-md-4
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-9.ct-bg.ct-bg-green .ct-md-9
    .ct-md-3.ct-bg.ct-bg-red   .ct-md-3
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-10.ct-bg.ct-bg-green .ct-md-10
    .ct-md-2.ct-bg.ct-bg-red   .ct-md-2
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-11.ct-bg.ct-bg-green .ct-md-11
    .ct-md-1.ct-bg.ct-bg-red   .ct-md-1
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-12.ct-bg.ct-bg-green .ct-md-12

  p
    |偏移（Offsets）
    code .ct-offset-11
    |`
    code .ct-offset-12
  pre
    code.html
      |&lt;div class="ct-row">
      |  &lt;div class="ct-md-4 ct-offset-4">ct-md-4 ct-offset-4&lt;/div>
      |  &lt;div class="ct-md-4">ct-md-4&lt;/div>
      |&lt;/div>
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-4.ct-offset-4.ct-bg.ct-bg-red ct-md-4 offset-s4
    .ct-md-4.ct-bg.ct-bg-green ct-md-411
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-3.ct-offset-3.ct-bg.ct-bg-red ct-md-3 offset-s3
    .ct-md-3.ct-offset-3.ct-bg.ct-bg-red ct-md-3 offset-s3
  div.ct-container.ct-row.ct-center.ct-pb-xs
    .ct-md-6.ct-offset-3.ct-bg.ct-bg-red ct-md-6 offset-s3