/*
    clearfix
*/
.gx-clearfix {
  zoom: 1;
}
.gx-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/*
    align
*/
.gx-center {
  text-align: center;
}
.gx-left {
  text-align: left;
}
.gx-right {
  text-align: right;
}
/*
    h1-h6
*/
.gx-h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.gx-h1-sm {
  font-size: 23.4px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.gx-h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.gx-h2-sm {
  font-size: 19.5px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.gx-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.gx-h3-sm {
  font-size: 15.6px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.gx-h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.gx-h4-sm {
  font-size: 11.7px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.gx-h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.gx-h5-sm {
  font-size: 9.1px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.gx-h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.gx-h6-sm {
  font-size: 7.8px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
/*
    bg
*/
.gx-bg {
  background: #FAFAFA none repeat scroll 0 0;
}
.gx-bg.green {
  color: #fff;
  background-color: #3bbf38;
}
.gx-bg.red {
  color: #fff;
  background-color: #f36c60;
}
.gx-bg.blue {
  color: #fff;
  background-color: #29b6f6;
}
.gx-bg.yellow {
  color: #fff;
  background-color: #fbc02d;
}
.gx-bg.grey {
  color: #fff;
  background-color: #9e9e9e;
}
.gx-bg.purple {
  color: #fff;
  background-color: #6e5494;
}
/*
    color
*/
.gx-color.green {
  color: #3bbf38;
}
.gx-color.red {
  color: #f36c60;
}
.gx-color.blue {
  color: #29b6f6;
}
.gx-color.yellow {
  color: #fbc02d;
}
.gx-color.grey {
  color: #9e9e9e;
}
.gx-color.purple {
  color: #6e5494;
}
/*
    float
*/
.gx-fl {
  float: left;
  display: inline;
}
.gx-fr {
  float: right;
  display: inline;
}
/*
    margin
*/
.gx-m-auto {
  margin-left: auto;
  margin-right: auto;
}
/*Default margin  20px*/
.gx-m {
  margin: 20px;
}
.gx-mtb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gx-mlr {
  margin-left: 20px;
  margin-right: 20px;
}
.gx-mt {
  margin-top: 20px;
}
.gx-mr {
  margin-right: 20px;
}
.gx-mb {
  margin-bottom: 20px;
}
.gx-ml {
  margin-left: 20px;
}
/*Large margin  25px*/
.gx-m-lg {
  margin: 25px;
}
.gx-mtb-lg {
  margin-top: 25px;
  margin-bottom: 25px;
}
.gx-mlr-lg {
  margin-left: 25px;
  margin-right: 25px;
}
.gx-mt-lg {
  margin-top: 25px;
}
.gx-mr-lg {
  margin-right: 25px;
}
.gx-mb-lg {
  margin-bottom: 25px;
}
.gx-ml-lg {
  margin-left: 25px;
}
/*Small margin  10px*/
.gx-m-sm {
  margin: 10px;
}
.gx-mtb-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gx-mlr-sm {
  margin-left: 10px;
  margin-right: 10px;
}
.gx-mt-sm {
  margin-top: 10px;
}
.gx-mr-sm {
  margin-right: 10px;
}
.gx-mb-sm {
  margin-bottom: 10px;
}
.gx-ml-sm {
  margin-left: 10px;
}
/* Extra small margin  5px*/
.gx-m-xs {
  margin: 5px;
}
.gx-mtb-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.gx-mlr-xs {
  margin-left: 5px;
  margin-right: 5px;
}
.gx-mt-xs {
  margin-top: 5px;
}
.gx-mr-xs {
  margin-right: 5px;
}
.gx-mb-xs {
  margin-bottom: 5px;
}
.gx-ml-xs {
  margin-left: 5px;
}
/*
    padding
*/
/*Default padding  20px*/
.gx-p {
  padding: 20px;
}
.gx-ptb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.gx-prl {
  padding-right: 20px;
  padding-left: 20px;
}
.gx-pt {
  padding-top: 20px;
}
.gx-pr {
  padding-right: 20px;
}
.gx-pb {
  padding-bottom: 20px;
}
.gx-pl {
  padding-left: 20px;
}
/*Large padding  25px*/
.gx-p-lg {
  padding: 25px;
}
.gx-ptb-lg {
  padding-top: 25px;
  padding-bottom: 25px;
}
.gx-prl-lg {
  padding-right: 25px;
  padding-left: 25px;
}
.gx-pt-lg {
  padding-top: 25px;
}
.gx-pr-lg {
  padding-right: 25px;
}
.gx-pb-lg {
  padding-bottom: 25px;
}
.gx-pl-lg {
  padding-left: 25px;
}
/*Small padding  10px*/
.gx-p-sm {
  padding: 10px;
}
.gx-ptb-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gx-prl-sm {
  padding-right: 10px;
  padding-left: 10px;
}
.gx-pt-sm {
  padding-top: 10px;
}
.gx-pr-sm {
  padding-right: 10px;
}
.gx-pb-sm {
  padding-bottom: 10px;
}
.gx-pl-sm {
  padding-left: 10px;
}
/*Extra Small padding  5px*/
.gx-p-xs {
  padding: 5px;
}
.gx-ptb-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gx-prl-xs {
  padding-right: 5px;
  padding-left: 5px;
}
.gx-pt-xs {
  padding-top: 5px;
}
.gx-pr-xs {
  padding-right: 5px;
}
.gx-pb-xs {
  padding-bottom: 5px;
}
.gx-pl-xs {
  padding-left: 5px;
}
.gx-box {
  border: 1px solid #eee;
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
.gx-box .head {
  font-size: 16px;
  color: #757575;
  background: #F3F3F3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #a3e9a4;
}
.gx-box .head a {
  color: #259b24;
  text-decoration: none;
  font-size: 14px;
}
.gx-box .head a i {
  margin-right: 5px;
}
.gx-box .col {
  font-size: 16px;
  color: #757575;
  background: #F3F3F3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #a3e9a4;
  border-right: 1px solid #dce1df;
}
.gx-box .col a {
  color: #757575;
  display: block;
  text-align: center;
  font-size: 16px;
}
.gx-box .col:last-child {
  border-right: 0;
}
.gx-box .col.selected {
  border-bottom: 4px solid #20b11d;
}
.gx-box .body {
  background-color: #fff;
}
.gx-btn {
  display: inline-block;
  padding: 0 50px;
  height: 37px;
  line-height: 37px;
  background-color: #f1f1f1;
  color: #757575;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 3px 4px #CCC;
  border: 0 none;
  text-decoration: none;
  font-family: "Microsoft YaHei";
  height: 40px;
  line-height: 40px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.gx-btn i {
  font-size: 14px;
  margin-right: 5px;
}
.gx-btn:hover,
.gx-btn:focus,
.gx-btn.focus {
  text-decoration: none;
  background: #e0e0e0;
}
.gx-btn:active,
.gx-btn.active {
  outline: 0;
  background-image: none;
}
.gx-btn.disabled,
.gx-btn[disabled],
fieldset[disabled] .gx-btn {
  cursor: crosshair;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.gx-btn.green {
  background: #3bbf38;
  color: #fff;
}
.gx-btn.green:hover {
  background: #2aae27;
}
.gx-btn.red {
  background: #f36c60;
  color: #fff;
}
.gx-btn.red:hover {
  background: #e25b4f;
}
.gx-btn.blue {
  background: #29b6f6;
  color: #fff;
}
.gx-btn.blue:hover {
  background: #18a5e5;
}
.gx-btn.large {
  height: 40px;
  line-height: 40px;
  width: 180px;
}
.gx-btn.small {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 15px;
}
.gx-btn.mini {
  width: 25px;
  text-align: center;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
}
.gx-btn.mini i {
  margin-right: 0;
}
.gx-btn.block {
  display: block;
  width: 100%;
}
.gx-btn.radius {
  border-radius: 30px;
}
.gx-btn + .gx-btn {
  margin-left: 7px;
}
.gx-btn.block + .gx-btn.block {
  margin-top: 5px;
  margin-left: 0;
}
.gx-row {
  margin-left: auto;
  margin-right: auto;
}
.gx-row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.gx-row .col.s1 {
  width: 8.33333%;
  margin-left: 0;
}
.gx-row .col.s2 {
  width: 16.66667%;
  margin-left: 0;
}
.gx-row .col.s3 {
  width: 25%;
  margin-left: 0;
}
.gx-row .col.s4 {
  width: 33.33333%;
  margin-left: 0;
}
.gx-row .col.s5 {
  width: 41.66667%;
  margin-left: 0;
}
.gx-row .col.s6 {
  width: 50%;
  margin-left: 0;
}
.gx-row .col.s7 {
  width: 58.33333%;
  margin-left: 0;
}
.gx-row .col.s8 {
  width: 66.66667%;
  margin-left: 0;
}
.gx-row .col.s9 {
  width: 75%;
  margin-left: 0;
}
.gx-row .col.s10 {
  width: 83.33333%;
  margin-left: 0;
}
.gx-row .col.s11 {
  width: 91.66667%;
  margin-left: 0;
}
.gx-row .col.s12 {
  width: 100%;
  margin-left: 0;
}
.gx-row .col.offset-s1 {
  margin-left: 8.33333%;
}
.gx-row .col.offset-s2 {
  margin-left: 16.66667%;
}
.gx-row .col.offset-s3 {
  margin-left: 25%;
}
.gx-row .col.offset-s4 {
  margin-left: 33.33333%;
}
.gx-row .col.offset-s5 {
  margin-left: 41.66667%;
}
.gx-row .col.offset-s6 {
  margin-left: 50%;
}
.gx-row .col.offset-s7 {
  margin-left: 58.33333%;
}
.gx-row .col.offset-s8 {
  margin-left: 66.66667%;
}
.gx-row .col.offset-s9 {
  margin-left: 75%;
}
.gx-row .col.offset-s10 {
  margin-left: 83.33333%;
}
.gx-row .col.offset-s11 {
  margin-left: 91.66667%;
}
.gx-row .col.offset-s12 {
  margin-left: 100%;
}
@media only screen and (min-width: 601px) {
  .gx-row .col.m1 {
    width: 8.33333%;
    margin-left: 0;
  }
  .gx-row .col.m2 {
    width: 16.66667%;
    margin-left: 0;
  }
  .gx-row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  .gx-row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
  }
  .gx-row .col.m5 {
    width: 41.66667%;
    margin-left: 0;
  }
  .gx-row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  .gx-row .col.m7 {
    width: 58.33333%;
    margin-left: 0;
  }
  .gx-row .col.m8 {
    width: 66.66667%;
    margin-left: 0;
  }
  .gx-row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  .gx-row .col.m10 {
    width: 83.33333%;
    margin-left: 0;
  }
  .gx-row .col.m11 {
    width: 91.66667%;
    margin-left: 0;
  }
  .gx-row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
  .gx-row .col.offset-m1 {
    margin-left: 8.33333%;
  }
  .gx-row .col.offset-m2 {
    margin-left: 16.66667%;
  }
  .gx-row .col.offset-m3 {
    margin-left: 25%;
  }
  .gx-row .col.offset-m4 {
    margin-left: 33.33333%;
  }
  .gx-row .col.offset-m5 {
    margin-left: 41.66667%;
  }
  .gx-row .col.offset-m6 {
    margin-left: 50%;
  }
  .gx-row .col.offset-m7 {
    margin-left: 58.33333%;
  }
  .gx-row .col.offset-m8 {
    margin-left: 66.66667%;
  }
  .gx-row .col.offset-m9 {
    margin-left: 75%;
  }
  .gx-row .col.offset-m10 {
    margin-left: 83.33333%;
  }
  .gx-row .col.offset-m11 {
    margin-left: 91.66667%;
  }
  .gx-row .col.offset-m12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .gx-row .col.l1 {
    width: 8.33333%;
    margin-left: 0;
  }
  .gx-row .col.l2 {
    width: 16.66667%;
    margin-left: 0;
  }
  .gx-row .col.l3 {
    width: 25%;
    margin-left: 0;
  }
  .gx-row .col.l4 {
    width: 33.33333%;
    margin-left: 0;
  }
  .gx-row .col.l5 {
    width: 41.66667%;
    margin-left: 0;
  }
  .gx-row .col.l6 {
    width: 50%;
    margin-left: 0;
  }
  .gx-row .col.l7 {
    width: 58.33333%;
    margin-left: 0;
  }
  .gx-row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
  }
  .gx-row .col.l9 {
    width: 75%;
    margin-left: 0;
  }
  .gx-row .col.l10 {
    width: 83.33333%;
    margin-left: 0;
  }
  .gx-row .col.l11 {
    width: 91.66667%;
    margin-left: 0;
  }
  .gx-row .col.l12 {
    width: 100%;
    margin-left: 0;
  }
  .gx-row .col.offset-l1 {
    margin-left: 8.33333%;
  }
  .gx-row .col.offset-l2 {
    margin-left: 16.66667%;
  }
  .gx-row .col.offset-l3 {
    margin-left: 25%;
  }
  .gx-row .col.offset-l4 {
    margin-left: 33.33333%;
  }
  .gx-row .col.offset-l5 {
    margin-left: 41.66667%;
  }
  .gx-row .col.offset-l6 {
    margin-left: 50%;
  }
  .gx-row .col.offset-l7 {
    margin-left: 58.33333%;
  }
  .gx-row .col.offset-l8 {
    margin-left: 66.66667%;
  }
  .gx-row .col.offset-l9 {
    margin-left: 75%;
  }
  .gx-row .col.offset-l10 {
    margin-left: 83.33333%;
  }
  .gx-row .col.offset-l11 {
    margin-left: 91.66667%;
  }
  .gx-row .col.offset-l12 {
    margin-left: 100%;
  }
}
.gx-row:after {
  content: "";
  display: table;
  clear: both;
}
.gx-tips {
  margin: 0 12px 10px;
  padding: 30px;
  background: #fff1a6;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.gx-tips a.link {
  display: inline-block;
  margin-left: 7px;
  color: #3378b5;
  text-decoration: none;
}
.gx-tips a.link:hover {
  color: #2267a4;
}
.gx-tips .single {
  height: 40px;
  line-height: 40px;
}
.gx-tips .icon {
  font-size: inherit;
}
.gx-tips .icon i {
  float: left;
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  background: #ff7e00;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gx-tips .left {
  display: table;
  float: left;
  height: 40px;
  font-size: inherit;
  line-height: 20px;
  color: #333;
  text-align: left;
  vertical-align: middle;
}
.gx-tips .right {
  font-size: inherit;
  float: right;
}
.gx-select {
  position: relative;
  z-index: 9;
}
.gx-select .select-name {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  cursor: pointer;
}
.gx-select .select-name i {
  vertical-align: middle;
  margin-left: 10px;
}
.gx-select .select-list {
  position: absolute;
  top: 34px;
  left: 0;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  min-width: 120px;
  border-top: 2px solid #20b11d;
  cursor: default;
  display: none;
}
.gx-select .select-list li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #d5d9df;
}
.gx-select .select-list li a {
  color: #757575;
  display: block;
  text-indent: 10px;
}
.gx-select .select-list li.selected {
  background-color: #20b11d;
}
.gx-select .select-list li.selected a {
  color: #fff;
}
.gx-select .select-list li:hover {
  background-color: #A3E9A4;
}
.gx-select .select-list li:hover a {
  color: #757575;
}
.gx-select .select-list li:last-child {
  border-bottom: 0 none;
}
.gx-form {
  background: #fff;
  padding: 25px;
}
.gx-form .row {
  margin-bottom: 15px;
  zoom: 1;
}
.gx-form .row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.gx-form .label,
.gx-form .label-sm,
.gx-form .label-lg {
  font-size: 14px;
  min-width: 100px;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}
.gx-form .label-sm {
  min-width: 30px;
  margin-right: 10px;
}
.gx-form .label-lg {
  min-width: 150px;
}
.gx-form .text,
.gx-form .text-sm {
  width: 80%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2d2d2;
  text-indent: 7px;
  font-size: 14px;
  padding: 3px;
  float: left;
}
.gx-form .text-sm {
  width: 192px;
}
.gx-form .textarea {
  width: 80%;
  height: 120px;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  padding: 3px;
  float: left;
}
.gx-form .text:focus,
.gx-form .text-sm:focus,
.gx-form .textarea:focus {
  border-color: #20b11d;
}
.gx-form .error,
.gx-form .error:focus {
  border-color: #ee5a5a;
}
.gx-form .tips {
  margin: 10px 0 0 20px;
  color: #808080;
  float: left;
}
.gx-form .combine {
  border: 1px solid #c9c9c9;
  width: 515px;
  height: 30px;
  line-height: 30px;
  margin-right: 7px;
}
.gx-form .combine label {
  background: #eee;
  width: 60px;
  font-size: 14px;
  text-align: center;
  border-right: 1px solid #c9c9c9;
  margin-top: 0;
  border-radius: 5px 0 0 5px;
  margin-right: 3px;
}
.gx-form .combine input {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  width: 440px;
  border: 0 none;
  font-size: 14px;
}
.gx-form .combine input[disabled] {
  background-color: #fff;
}
.gx-form.mini {
  padding: 5px;
}
.gx-form.mini .label {
  min-width: 20px;
  margin: 5px;
  font-size: 12px;
  float: left;
}
.gx-form.mini .text {
  width: 80%;
  border: 1px solid #d2d2d2;
  height: 18px;
  line-height: 18px;
  padding: 3px;
  font-size: 12px;
  text-indent: 2px;
  float: left;
}
.gx-form.mini .text-sm {
  width: 80px;
  border: 1px solid #d2d2d2;
  height: 18px;
  line-height: 18px;
  padding: 3px;
  font-size: 12px;
  float: left;
}
.gx-list {
  font-size: 12px;
}
.gx-list .row-search {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  background: #f9f9f1;
}
.gx-list table {
  padding: 0;
  margin: 0;
  width: 100%;
}
.gx-list table thead {
  border-bottom: 2px solid #20b11d;
  background-color: #EBFDD9;
}
.gx-list table thead tr td {
  color: #6F7672;
  font-size: 14px;
  padding: 12px;
}
.gx-list table thead tr td input {
  vertical-align: middle;
}
.gx-list table tbody tr:last-child {
  border-bottom: 0 none;
}
.gx-list table tbody tr:hover {
  background: #e8f5e9;
}
.gx-list table tbody tr.selected {
  background-color: #a3e9a4;
}
.gx-list table tbody tr {
  border-bottom: 1px solid #cfcfcf;
}
.gx-list table tbody tr td {
  padding: 12px;
}
.gx-list table tbody tr td input {
  vertical-align: middle;
}
/*# sourceMappingURL=all.css.map */