<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Button</title>
    <link rel="stylesheet" type="text/css" href="../lib/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="base.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="btn.min.css" />
</head>
<style rel="stylesheet">
    .warp {
        width:80%;
        margin: 50px auto;
    }
    pre {
        font-family: "Microsoft YaHei UI";
        color:#000;
        margin: 10px;
        padding: 10px;
    }
</style>
<body>
    <div class="warp">
        <div><pre>普通按钮</pre></div>
        <div>
            <a href="javascript:;" class="gx-btn green">Button</a>
            <a href="javascript:;" class="gx-btn blue">Button</a>
            <a href="javascript:;" class="gx-btn red">Button</a>
            <a href="javascript:;" class="gx-btn">Button</a>
        </div>

        <div><pre>大号按钮</pre></div>
        <div>
            <a href="javascript:;" class="gx-btn blue large">Button</a>
        </div>

        <div><pre>小号按钮</pre></div>
        <div>
            <a href="javascript:;" class="gx-btn small">Button</a>
        </div>

        <br />
        <div><pre>锁定状态</pre></div>
        <div>
            <a href="javascript:;" class="gx-btn red disabled">Button</a>
        </div>

        <br />
        <div><pre>100%显示</pre></div>
        <div>
            <a href="javascript:;" class="gx-btn block">Button</a>
            <a href="javascript:;" class="gx-btn green block">Button</a>
            <a href="javascript:;" class="gx-btn red block">Button</a>
            <a href="javascript:;" class="gx-btn blue block">Button</a>
        </div>
    </div>
</body>
</html>