<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" type="text/css" href="../lib/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="base.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="btn.min.css" />
    <link rel="stylesheet" type="text/css" href="tips.min.css" />
</head>
<body class="gx-clearfix">
    <fieldset style="text-align: center; border:none;">常规TIPS</fieldset>

    <div class="gx-tips gx-clearfix">
        <div class="left">
            <div class="icon">
                URL：	http://c2.s2.gexia.com/api/mp/url/36653<br>
                Token：	ef0320b185f6f799
            </div>
        </div>
        <div class="right">
            <a class="gx-btn gx-btn-success" href="javascript:;">已绑定微信</a>
            <a class="gx-btn gx-btn-danger" href="javascript:;">已绑定微信</a>
        </div>
    </div><!--tips-box end-->

    <fieldset style="text-align: center; border:none;">带ICON的TIPS</fieldset>

    <div class="gx-tips gx-clearfix">
        <div class="left">
            <div class="icon">
                <i class="fa fa-info"></i>
                订阅号没有自定义菜单的接口权限，因此无法发布自定义菜单。但您可以使用业务模块来替代自定义菜单<a class="link" href="javascript:;">点击了解详情</a>
            </div>
        </div>
        <div class="right">
            <a class="gx-btn gx-btn-success gx-disabled" href="javascript:;">设置中</a>
            <a class="gx-btn gx-btn-danger" href="javascript:;">已绑定微信</a>
        </div>
    </div><!--tips-box end-->

    <fieldset style="text-align: center; border:none;">单行文字TIPS</fieldset>

    <div class="gx-tips gx-clearfix">
        <div class="icon single">
            <i class="fa fa-info"></i>
            订阅号没有自定义菜单的接口权限，因此无法发布自定义菜单。但您可以使用业务模块来替代自定义菜单<a class="link" href="javascript:;">点击了解详情</a>
        </div>
    </div><!--tips-box end-->
</body>
</html>