h2.ct-h2.area-title#overview-alert alert
div.area-content
  p
    code .ct-alert
    |用于设置警报样式，设置警报样式需要同时配合 
    code .--success
    code .--info 
    code .--warning 
    code .--danger
    |来设置样式
  pre
    code.html
      |&lt;div class="ct-alert --success">C&lt;/div>
  div.ct-alert.--success success
    

  pre
    code.html
      |&lt;div class="ct-alert --info">info&lt;/div>
  div.ct-alert.--info info
    

  pre
    code.html
      |&lt;div class="ct-alert --warning">C&lt;/div>
  div.ct-alert.--warning warning

  pre
    code.html
      |&lt;div class="ct-alert --danger">C&lt;/div>
  div.ct-alert.--danger danger

  p
    |同时可以添加子元素
    code .__title
    code .__body
    |来区分内容的不同属性，当然
    |.__title 和 .__body不一定要同时出现，也可以一个都不出现。
    code hr
    |在这里是一个分隔线的作用。

  pre
    code.html
      |&lt;div class="ct-alert --info">
      | &lt;div class="__title">标题&lt;/div>
      | &lt;hr>
      | &lt;div class="__body">
      |   正文  &lt;a href="#">带链接的正文&lt;a>
      | &lt;/div>
      |&lt;/div>
  div.ct-alert.--info
    div.__title 标题
    hr
    div.__body
      |正文
      a(href='#') 带链接的正文
    