h2.ct-h2.area-title#overview-border 边框border
div.area-content
  p
    code .ct-border
    |用于设置元素的边框，设置边框需要同时配合 
    code .--all
    code .--top
    code .--bottom
    code .--right
    code .--left
    |来设置样式
  pre
    code.html
      |&lt;div class="ct-border --all">C&lt;/div>
  div.ct-flex
      div.ct-border.--all.h100.w100 --all
      div.ct-border.--top.h100.w100 --top
      div.ct-border.--right.h100.w100 --right
      div.ct-border.--bottom.h100.w100 --bottom