h2.ct-h2.area-title.ct-mt#overview-calendar 日历calendar
div.area-content
  p
    code .ct-calendar
    |日历插件
  pre
    code.html
    |&lt;div class="ct-calendar">
    |&lt;div class="__head --controls">
    |&lt;div class="__prev-btn">&lt;/div>
    |&lt;div class="__date-display">十一月 2015&lt;/div>
    |&lt;div class="__next-btn">&lt;/div>
    |&lt;/div>
    |&lt;div class="__head --days-of-week">
    |&lt;div class="__cell --day">三&lt;/div>
    |&lt;/div>
    |&lt;div class="__body">
    |&lt;div class="__cell __cell --prev-month">&lt;span>1&lt;/span>&lt;/div>
    |...
    |&lt;div class="__cell __cell --this-month">&lt;span class="__day-label">29&lt;/span>
    |&lt;/div>
    |&lt;/div>
    |&lt;/div>
    
  .container      
    .ct-calendar
      .__head.--controls
        .__prev-btn
        .__date-display 十一月 2015
        .__next-btn
      .__head.--days-of-week
        .__cell.--day 三
        .__cell.--day 四
        .__cell.--day 五
        .__cell.--day 六
        .__cell.--day 日
        .__cell.--day 一
        .__cell.--day 二
      .__body
        .__cell.__cell.--prev-month
          span 1
        .__cell.__cell.--prev-month
          span 2
        .__cell.__cell.--prev-month
          span 3
        .__cell.__cell.--prev-month
          span 4
        .__cell.__cell.--prev-month
          span 5
        .__cell.__cell.--prev-month
          span 6
        .__cell.__cell.--prev-month
          span 7
        .__cell.__cell.--prev-month
          span 8
        .__cell.__cell.--prev-month
          span 9
        .__cell.__cell.--prev-month
          span 10
        .__cell.__cell.--prev-month
          span 11
        .__cell.__cell.--prev-month
          span 12
        .__cell.__cell.--prev-month
          span 13
        .__cell.__cell.--prev-month
          span 14
        .__cell.__cell.--prev-month
          span 15
        .__cell.__cell.--prev-month
          span 16
        .__cell.__cell.--prev-month
          span 17
        .__cell.__cell.--prev-month
          span 18
        .__cell.__cell.--prev-month
          span 19
        .__cell.__cell.--prev-month
          span 20
        .__cell.__cell.--prev-month
          span 21
        .__cell.__cell.--prev-month
          span 22
        .__cell.__cell.--prev-month
          span 23
        .__cell.__cell.--prev-month
          span 24
        .__cell.__cell.--prev-month
          span 25
        .__cell.__cell.--prev-month
          span 26
        .__cell.__cell.--prev-month
          span 27
        .__cell.__cell
          span 28
        .__cell.__cell.--this-month
          span.__day-label 29
        .__cell.__cell.--prev-month
          span 30
        .__cell.__cell.--prev-month
          span 31
        .__cell.__cell.--prev-month
          span 1
        .__cell.__cell.--prev-month
          span 2
        .__cell.__cell.--prev-month
          span 3
        .__cell.__cell.--prev-month
          span 4