h2.ct-h2.area-title.ct-mt#overview-form 表格form
div.area-content
  p
    code .ct-form
    |用于设置表单的样式
  pre
    code.html
      |&lt;div class="ct-form">
      | &lt;div class="row">
      |  &lt;label class="label">活动名称&lt;/label>
      |  &lt;input name="title" type="text" class="text" placeholder="请输入活动名称" value="">
      | &lt;/div>
      |&lt;/div>
  .container
    .ct-form
      .row
        label.label 活动名称
        input.text(name='title', type='text', placeholder='请输入活动名称', value='')
  p
    |通过添加
    code .error
    |用于设置表单的报错样式
  pre
    code.html
      |&lt;div class="ct-form">
      | ...
      |  &lt;input name="title" type="text" class="text error" placeholder="请输入活动名称" value="">
      | ...
      |&lt;/div>
  .container
    .ct-form
      .row
        label.label 活动名称
        input.text.error(name='title', type='text', placeholder='请输入活动名称', value='')

  p
    code .text-sm
    |用于设置小号表单样式
    code .textarea
    |用于设置多行表单样式

  pre
    code.html
      |&lt;div class="ct-form">
      |  &lt;div class="row">
      |    &lt;label class="label">活动名称&lt;/label>
      |    &lt;textarea placeholder="多行表单" class="textarea">&lt;/textarea>
      |  &lt;/div>
      |  &lt;div class="row">
      |    &lt;label class="label">活动名称&lt;/label>
      |    &lt;input name="title" type="text" placeholder="请输入活动名称" value="" class="text-sm"/>
      |  &lt;/div>
      |&lt;/div>
  .container
    .ct-form
      .row
        label.label 活动名称
        textarea.textarea(placeholder='多行表单')
      .row
        label.label 活动名称
        input.text-sm(name='title', type='text', placeholder='请输入活动名称', value='')
  p
    |通过给
    code .ct-form
    |添加类
    code .mini
    |获取小号的表单

  pre
    code.html
      |&lt;div class="ct-form mini">
      |  ...
      |&lt;/div>
  .container     
    .ct-form.mini
      .row
        label.label 活动名称
        input.text(placeholder='多行表单')
      .row
        label.label 活动名称
        input.text-sm(name='title', type='text', placeholder='请输入活动名称', value='')
        
        